openapi: 3.0.3
info:
  description: HyperOne API
  title: HyperOne
  version: 0.1.0
servers:
- description: HyperOne API
  url: https://api.hyperone.com/v2
security:
- BearerAuth: []
tags:
- name: iam_user
  x-kind: iam/user
  x-location: false
  x-parent: false
- name: iam_project
  x-kind: iam/project
  x-location: false
  x-parent: false
- name: support_project_ticket
  x-kind: support/ticket
  x-location: false
  x-parent:
  - project
- name: iam_organisation
  x-kind: iam/organisation
  x-location: false
  x-parent: false
- description: Available as part of the Early Adopters program.
  name: provider_project_agent
  x-kind: provider/agent
  x-location: true
  x-parent:
  - project
- description: Available as part of the Early Adopters program.
  name: database_project_instance
  x-kind: database/instance
  x-location: true
  x-parent:
  - project
- description: Available as part of the Early Adopters program.
  name: insight_project_journal
  x-kind: insight/journal
  x-location: true
  x-parent:
  - project
- description: Available as part of the Early Adopters program.
  name: container_project_registry
  x-kind: container/registry
  x-location: true
  x-parent:
  - project
- description: Available as part of the Early Adopters program.
  name: website_project_instance
  x-kind: website/instance
  x-location: true
  x-parent:
  - project
- name: dns_project_zone
  x-kind: dns/zone
  x-location: true
  x-parent:
  - project
- name: storage_project_disk
  x-kind: storage/disk
  x-location: true
  x-parent:
  - project
- name: networking_project_firewall
  x-kind: networking/firewall
  x-location: true
  x-parent:
  - project
- name: storage_project_image
  x-kind: storage/image
  x-location: true
  x-parent:
  - project
- name: networking_project_ip
  x-kind: networking/ip
  x-location: true
  x-parent:
  - project
- name: storage_project_iso
  x-kind: storage/iso
  x-location: true
  x-parent:
  - project
- name: networking_project_netadp
  x-kind: networking/netadp
  x-location: true
  x-parent:
  - project
- name: networking_project_netgw
  x-kind: networking/netgw
  x-location: true
  x-parent:
  - project
- name: networking_project_network
  x-kind: networking/network
  x-location: true
  x-parent:
  - project
- name: iam_project_policy
  x-kind: iam/policy
  x-location: false
  x-parent:
  - project
  - organisation
- name: iam_organisation_policy
  x-kind: iam/policy
  x-location: false
  x-parent:
  - project
  - organisation
- name: compute_project_replica
  x-kind: compute/replica
  x-location: true
  x-parent:
  - project
- name: iam_project_role
  x-kind: iam/role
  x-location: false
  x-parent:
  - project
  - organisation
- name: iam_organisation_role
  x-kind: iam/role
  x-location: false
  x-parent:
  - project
  - organisation
- name: iam_project_sa
  x-kind: iam/sa
  x-location: false
  x-parent:
  - project
- name: storage_project_vault
  x-kind: storage/vault
  x-location: true
  x-parent:
  - project
- name: compute_project_vm
  x-kind: compute/vm
  x-location: true
  x-parent:
  - project
- name: billing_project_reservation
  x-kind: billing/reservation
  x-location: false
  x-parent:
  - project
- name: vmhost_project_instance
  x-kind: vmhost/instance
  x-location: true
  x-parent:
  - project
- name: billing_project_service
  x-kind: billing/service
  x-location: false
  x-parent:
  - project
paths:
  /iam/user/{userId}:
    get:
      description: Returns a single user
      operationId: iam_user_get
      parameters:
      - description: User Id
        explode: false
        in: path
        name: userId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user'
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: Get iam/user
      tags:
      - iam_user
      x-permissions:
      - iam/user/get
    patch:
      description: Returns modified user
      operationId: iam_user_update
      parameters:
      - description: User Id
        explode: false
        in: path
        name: userId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/iam_user_update'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user'
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: Update iam/user
      tags:
      - iam_user
  /iam/user/{userId}/credential/authtoken:
    get:
      description: List iam/user.credential
      operationId: iam_user_credential_authtoken_list
      parameters:
      - description: User Id
        explode: false
        in: path
        name: userId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/authToken'
                title: AuthToken collection
                type: array
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: List iam/user.credential
      tags:
      - iam_user
      x-permissions:
      - iam/user.credential/list
  /iam/user/{userId}/credential/authtoken/{authtokenId}:
    delete:
      description: Delete iam/user.credential
      operationId: iam_user_credential_authtoken_delete
      parameters:
      - description: User Id
        explode: false
        in: path
        name: userId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: authtokenId
        explode: false
        in: path
        name: authtokenId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: Delete iam/user.credential
      tags:
      - iam_user
      x-permissions:
      - iam/user.credential/delete
    get:
      description: Get iam/user.credential
      operationId: iam_user_credential_authtoken_get
      parameters:
      - description: User Id
        explode: false
        in: path
        name: userId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: authtokenId
        explode: false
        in: path
        name: authtokenId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authToken'
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: Get iam/user.credential
      tags:
      - iam_user
      x-permissions:
      - iam/user.credential/get
  /iam/user/{userId}/credential:
    get:
      description: List iam/user.credential
      operationId: iam_user_credential_list
      parameters:
      - description: User Id
        explode: false
        in: path
        name: userId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/user.credential'
                title: User.credential collection
                type: array
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: List iam/user.credential
      tags:
      - iam_user
      x-permissions:
      - iam/user.credential/list
    post:
      description: Create iam/user.credential
      operationId: iam_user_credential_create
      parameters:
      - description: User Id
        explode: false
        in: path
        name: userId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/user.credential'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user.credential'
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: Create iam/user.credential
      tags:
      - iam_user
      x-permissions:
      - iam/user.credential/create
  /iam/user/{userId}/credential/{credentialId}:
    delete:
      description: Delete iam/user.credential
      operationId: iam_user_credential_delete
      parameters:
      - description: User Id
        explode: false
        in: path
        name: userId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: credentialId
        explode: false
        in: path
        name: credentialId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user'
          description: successful operation
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user'
          description: operation queued
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: Delete iam/user.credential
      tags:
      - iam_user
      x-permissions:
      - iam/user.credential/delete
    get:
      description: Get iam/user.credential
      operationId: iam_user_credential_get
      parameters:
      - description: User Id
        explode: false
        in: path
        name: userId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: credentialId
        explode: false
        in: path
        name: credentialId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user.credential'
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: Get iam/user.credential
      tags:
      - iam_user
      x-permissions:
      - iam/user.credential/get
    patch:
      description: Update iam/user.credential
      operationId: iam_user_credential_patch
      parameters:
      - description: User Id
        explode: false
        in: path
        name: userId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: credentialId
        explode: false
        in: path
        name: credentialId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/iam_user_credential_patch'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user.credential'
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: Update iam/user.credential
      tags:
      - iam_user
  /iam/user/{userId}/service:
    get:
      description: List iam/user.service
      operationId: iam_user_service_list
      parameters:
      - description: User Id
        explode: false
        in: path
        name: userId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/resourceService'
                title: ResourceService collection
                type: array
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: List iam/user.service
      tags:
      - iam_user
      x-permissions:
      - iam/user.service/list
  /iam/user/{userId}/service/{serviceId}:
    get:
      description: Get iam/user.service
      operationId: iam_user_service_get
      parameters:
      - description: User Id
        explode: false
        in: path
        name: userId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: serviceId
        explode: false
        in: path
        name: serviceId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/resourceService'
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: Get iam/user.service
      tags:
      - iam_user
      x-permissions:
      - iam/user.service/get
  /iam/project:
    get:
      description: List project
      operationId: iam_project_list
      parameters:
      - description: Filter by name
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: Filter by $limit
        explode: true
        in: query
        name: $limit
        required: false
        schema:
          type: number
        style: form
      - description: Filter by active
        explode: true
        in: query
        name: active
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Filter by organisation
        explode: true
        in: query
        name: organisation
        required: false
        schema:
          format: uri
          type: string
          x-resource:
            kind: iam/organisation
          x-permissions: []
        style: form
      - description: return a lightweight version of the resource
        explode: true
        in: query
        name: $lean
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Filter by tag.value
        explode: true
        in: query
        name: tag.value
        required: false
        schema:
          type: string
        style: form
      - description: Filter by tag.key
        explode: true
        in: query
        name: tag.key
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/project'
                title: Project collection
                type: array
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: List iam/project
      tags:
      - iam_project
      x-permissions: []
    post:
      description: Create project
      operationId: iam_project_create
      parameters:
      - description: Idempotency key
        explode: false
        in: header
        name: x-idempotency-key
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/iam_project_create'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/project'
          description: successful operation
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/project'
          description: operation queued
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: Create iam/project
      tags:
      - iam_project
      x-permissions: []
  /iam/project/{projectId}:
    delete:
      description: Delete project
      operationId: iam_project_delete
      parameters:
      - description: Project Id
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: Delete iam/project
      tags:
      - iam_project
      x-permissions:
      - iam/project/delete
      x-state:
      - Active
    get:
      description: Returns a single project
      operationId: iam_project_get
      parameters:
      - description: Project Id
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/project'
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: Get iam/project
      tags:
      - iam_project
      x-permissions:
      - iam/project/get
    patch:
      description: Returns modified project
      operationId: iam_project_update
      parameters:
      - description: Project Id
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/iam_project_update'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/project'
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: Update iam/project
      tags:
      - iam_project
  /iam/project/{projectId}/billing:
    get:
      description: List iam/project.billing
      operationId: iam_project_billing_list
      parameters:
      - description: Project Id
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: start
        explode: true
        in: query
        name: start
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: end
        explode: true
        in: query
        name: end
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: resource.type
        explode: true
        in: query
        name: resource.type
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/billing'
                title: Billing collection
                type: array
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: List iam/project.billing
      tags:
      - iam_project
      x-permissions:
      - iam/project.billing/list
      x-audience: developer
  /iam/project/{projectId}/payment:
    get:
      description: List iam/project.payment
      operationId: iam_project_payment_list
      parameters:
      - description: Project Id
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/payment'
                title: Payment collection
                type: array
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: List iam/project.payment
      tags:
      - iam_project
      x-permissions:
      - iam/project.payment/list
  /iam/project/{projectId}/invoice:
    get:
      description: List iam/project.invoice
      operationId: iam_project_invoice_list
      parameters:
      - description: Project Id
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/invoice'
                title: Invoice collection
                type: array
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: List iam/project.invoice
      tags:
      - iam_project
      x-permissions:
      - iam/project.invoice/list
  /iam/project/{projectId}/proforma:
    get:
      description: List iam/project.proforma
      operationId: iam_project_proforma_list
      parameters:
      - description: Project Id
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/proforma'
                title: Proforma collection
                type: array
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: List iam/project.proforma
      tags:
      - iam_project
      x-permissions:
      - iam/project.proforma/list
  /iam/project/{projectId}/threshold:
    get:
      description: List iam/project.threshold
      operationId: iam_project_threshold_list
      parameters:
      - description: Project Id
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/project.threshold'
                title: Project.threshold collection
                type: array
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: List iam/project.threshold
      tags:
      - iam_project
      x-permissions:
      - iam/project.threshold/list
    post:
      description: Create iam/project.threshold
      operationId: iam_project_threshold_create
      parameters:
      - description: Project Id
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/iam_project_threshold_create'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/project.threshold'
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: Create iam/project.threshold
      tags:
      - iam_project
      x-permissions:
      - iam/project.threshold/create
  /iam/project/{projectId}/threshold/{thresholdId}:
    delete:
      description: Delete iam/project.threshold
      operationId: iam_project_threshold_delete
      parameters:
      - description: Project Id
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: thresholdId
        explode: false
        in: path
        name: thresholdId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: Delete iam/project.threshold
      tags:
      - iam_project
      x-permissions:
      - iam/project.threshold/delete
    get:
      description: Get iam/project.threshold
      operationId: iam_project_threshold_get
      parameters:
      - description: Project Id
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: thresholdId
        explode: false
        in: path
        name: thresholdId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/project.threshold'
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: Get iam/project.threshold
      tags:
      - iam_project
      x-permissions:
      - iam/project.threshold/get
  /iam/project/{projectId}/credentialStore:
    get:
      description: List iam/project.credentialStore
      operationId: iam_project_credentialStore_list
      parameters:
      - description: Project Id
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/project.credential'
                title: Project.credential collection
                type: array
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: List iam/project.credentialStore
      tags:
      - iam_project
      x-permissions:
      - iam/project.credentialStore/list
    post:
      description: Create iam/project.credentialStore
      operationId: iam_project_credentialStore_create
      parameters:
      - description: Project Id
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/project.credential'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/project.credential'
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: Create iam/project.credentialStore
      tags:
      - iam_project
      x-permissions:
      - iam/project.credentialStore/create
  /iam/project/{projectId}/credentialStore/{credentialStoreId}:
    delete:
      description: Delete iam/project.credentialStore
      operationId: iam_project_credentialStore_delete
      parameters:
      - description: Project Id
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: credentialStoreId
        explode: false
        in: path
        name: credentialStoreId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/project'
          description: successful operation
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/project'
          description: operation queued
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: Delete iam/project.credentialStore
      tags:
      - iam_project
      x-permissions:
      - iam/project.credentialStore/delete
    get:
      description: Get iam/project.credentialStore
      operationId: iam_project_credentialStore_get
      parameters:
      - description: Project Id
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: credentialStoreId
        explode: false
        in: path
        name: credentialStoreId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/project.credential'
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: Get iam/project.credentialStore
      tags:
      - iam_project
      x-permissions:
      - iam/project.credentialStore/get
    patch:
      description: Update iam/project.credentialStore
      operationId: iam_project_credentialStore_patch
      parameters:
      - description: Project Id
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: credentialStoreId
        explode: false
        in: path
        name: credentialStoreId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/iam_project_credentialStore_patch'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/project.credential'
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: Update iam/project.credentialStore
      tags:
      - iam_project
  /iam/project/{projectId}/quota:
    get:
      description: List iam/project.quota
      operationId: iam_project_quota_list
      parameters:
      - description: Project Id
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/quota'
                title: Quota collection
                type: array
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: List iam/project.quota
      tags:
      - iam_project
      x-permissions:
      - iam/project.quota/list
  /iam/project/{projectId}/quota/{quotaId}:
    get:
      description: Get iam/project.quota
      operationId: iam_project_quota_get
      parameters:
      - description: Project Id
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: quotaId
        explode: false
        in: path
        name: quotaId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/quota'
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: Get iam/project.quota
      tags:
      - iam_project
      x-permissions:
      - iam/project.quota/get
  /iam/project/{projectId}/quota/{quotaId}/limit:
    patch:
      description: Update iam/project.limit
      operationId: iam_project_quota_limit_patch
      parameters:
      - description: Project Id
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: quotaId
        explode: false
        in: path
        name: quotaId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/iam_project_quota_limit_patch'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/quotaLimit'
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: Update iam/project.limit
      tags:
      - iam_project
  /iam/project/{projectId}/invitation:
    get:
      description: List iam/project.invitation
      operationId: iam_project_invitation_list
      parameters:
      - description: Project Id
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: resource
        explode: true
        in: query
        name: resource
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/invitation'
                title: Invitation collection
                type: array
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: List iam/project.invitation
      tags:
      - iam_project
      x-permissions:
      - iam/project.invitation/list
  /iam/project/{projectId}/invitation/{invitationId}:
    delete:
      description: Delete iam/project.invitation
      operationId: iam_project_invitation_delete
      parameters:
      - description: Project Id
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: invitationId
        explode: false
        in: path
        name: invitationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: Delete iam/project.invitation
      tags:
      - iam_project
      x-permissions:
      - iam/project.invitation/delete
    get:
      description: Get iam/project.invitation
      operationId: iam_project_invitation_get
      parameters:
      - description: Project Id
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: invitationId
        explode: false
        in: path
        name: invitationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invitation'
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: Get iam/project.invitation
      tags:
      - iam_project
      x-permissions:
      - iam/project.invitation/get
  /iam/project/{projectId}/invitation/{invitationId}/actions/accept:
    post:
      description: action accept
      operationId: iam_project_invitation_accept
      parameters:
      - description: Project Id
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: invitationId
        explode: false
        in: path
        name: invitationId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/iam_project_invitation_accept'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invitation'
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: Accept iam/project.invitation
      tags:
      - iam_project
      x-permissions: []
      x-audience: developer
  /iam/project/{projectId}/ownership:
    get:
      description: List iam/project.ownership
      operationId: iam_project_ownership_list
      parameters:
      - description: Project Id
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ownership'
                title: Ownership collection
                type: array
          description: successful operation
          links:
            invitation:
              operationId: iam_project_invitation_list
              parameters:
                resource: $path
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: List iam/project.ownership
      tags:
      - iam_project
      x-permissions:
      - iam/project.ownership/list
    post:
      description: Create iam/project.ownership
      operationId: iam_project_ownership_create
      parameters:
      - description: Project Id
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/iam_project_ownership_create'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/project'
          description: successful operation
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/project'
          description: operation queued
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: Create iam/project.ownership
      tags:
      - iam_project
      x-permissions:
      - iam/project.ownership/create
  /iam/project/{projectId}/ownership/{ownershipId}:
    delete:
      description: Delete iam/project.ownership
      operationId: iam_project_ownership_delete
      parameters:
      - description: Project Id
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: ownershipId
        explode: false
        in: path
        name: ownershipId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: Delete iam/project.ownership
      tags:
      - iam_project
      x-permissions:
      - iam/project.ownership/delete
    get:
      description: Get iam/project.ownership
      operationId: iam_project_ownership_get
      parameters:
      - description: Project Id
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: ownershipId
        explode: false
        in: path
        name: ownershipId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ownership'
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: Get iam/project.ownership
      tags:
      - iam_project
      x-permissions:
      - iam/project.ownership/get
  /iam/project/{projectId}/service:
    get:
      description: List iam/project.service
      operationId: iam_project_service_list
      parameters:
      - description: Project Id
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/resourceService'
                title: ResourceService collection
                type: array
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: List iam/project.service
      tags:
      - iam_project
      x-permissions:
      - iam/project.service/list
  /iam/project/{projectId}/service/{serviceId}:
    get:
      description: Get iam/project.service
      operationId: iam_project_service_get
      parameters:
      - description: Project Id
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: serviceId
        explode: false
        in: path
        name: serviceId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/resourceService'
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: Get iam/project.service
      tags:
      - iam_project
      x-permissions:
      - iam/project.service/get
  /iam/project/{projectId}/tag:
    get:
      description: List iam/project.tag
      operationId: iam_project_tag_list
      parameters:
      - description: Project Id
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/tag'
                title: Tag collection
                type: array
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: List iam/project.tag
      tags:
      - iam_project
      x-permissions:
      - iam/project.tag/list
    post:
      description: Create iam/project.tag
      operationId: iam_project_tag_create
      parameters:
      - description: Project Id
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/tag'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tag'
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: Create iam/project.tag
      tags:
      - iam_project
      x-permissions:
      - iam/project.tag/create
    put:
      description: Replace iam/project.tag
      operationId: iam_project_tag_put
      parameters:
      - description: Project Id
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/tag_array'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/tag'
                title: Tag collection
                type: array
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: Replace iam/project.tag
      tags:
      - iam_project
      x-permissions:
      - iam/project.tag/create
      - iam/project.tag/delete
  /iam/project/{projectId}/tag/{tagId}:
    delete:
      description: Delete iam/project.tag
      operationId: iam_project_tag_delete
      parameters:
      - description: Project Id
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: tagId
        explode: false
        in: path
        name: tagId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: Delete iam/project.tag
      tags:
      - iam_project
      x-permissions:
      - iam/project.tag/delete
    get:
      description: Get iam/project.tag
      operationId: iam_project_tag_get
      parameters:
      - description: Project Id
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: tagId
        explode: false
        in: path
        name: tagId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tag'
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: Get iam/project.tag
      tags:
      - iam_project
      x-permissions:
      - iam/project.tag/get
  /iam/project/{projectId}/event:
    get:
      description: List iam/project.event
      operationId: iam_project_event_list
      parameters:
      - description: Project Id
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: $limit
        explode: true
        in: query
        name: $limit
        required: false
        schema:
          default: 100
          maximum: 1000
          minimum: 1
          type: number
        style: form
      - description: $skip
        explode: true
        in: query
        name: $skip
        required: false
        schema:
          type: number
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/event'
                title: Event collection
                type: array
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: List iam/project.event
      tags:
      - iam_project
      x-permissions:
      - iam/project.event/list
  /iam/project/{projectId}/event/{eventId}:
    get:
      description: Get iam/project.event
      operationId: iam_project_event_get
      parameters:
      - description: Project Id
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: eventId
        explode: false
        in: path
        name: eventId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/event'
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: Get iam/project.event
      tags:
      - iam_project
      x-permissions:
      - iam/project.event/get
  /support/project/{projectId}/ticket:
    get:
      description: List ticket
      operationId: support_project_ticket_list
      parameters:
      - description: Project Id
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: Filter by state
        explode: true
        in: query
        name: state
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ticket'
                title: Ticket collection
                type: array
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: List support/ticket
      tags:
      - support_project_ticket
      x-permissions:
      - support/ticket/list
    post:
      description: Create ticket
      operationId: support_project_ticket_create
      parameters:
      - description: Project Id
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: Idempotency key
        explode: false
        in: header
        name: x-idempotency-key
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/support_project_ticket_create'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ticket'
          description: successful operation
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ticket'
          description: operation queued
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: Create support/ticket
      tags:
      - support_project_ticket
      x-permissions:
      - support/ticket/create
  /support/project/{projectId}/ticket/{ticketId}:
    get:
      description: Returns a single ticket
      operationId: support_project_ticket_get
      parameters:
      - description: Project Id
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: Ticket Id
        explode: false
        in: path
        name: ticketId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ticket'
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: Get support/ticket
      tags:
      - support_project_ticket
      x-permissions:
      - support/ticket/get
  /support/project/{projectId}/ticket/{ticketId}/actions/close:
    post:
      description: action close
      operationId: support_project_ticket_close
      parameters:
      - description: Project Id
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: Ticket Id
        explode: false
        in: path
        name: ticketId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: Idempotency key
        explode: false
        in: header
        name: x-idempotency-key
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ticket'
          description: successful operation
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ticket'
          description: operation queued
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: Close support/ticket
      tags:
      - support_project_ticket
      x-permissions:
      - support/ticket/close
      x-state:
      - open
  /support/project/{projectId}/ticket/{ticketId}/message:
    get:
      description: List support/ticket.message
      operationId: support_project_ticket_message_list
      parameters:
      - description: Project Id
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: Ticket Id
        explode: false
        in: path
        name: ticketId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/support.message'
                title: Support.message collection
                type: array
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: List support/ticket.message
      tags:
      - support_project_ticket
      x-permissions:
      - support/ticket.message/list
    post:
      description: Create support/ticket.message
      operationId: support_project_ticket_message_create
      parameters:
      - description: Project Id
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: Ticket Id
        explode: false
        in: path
        name: ticketId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/support.message'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/support.message'
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: Create support/ticket.message
      tags:
      - support_project_ticket
      x-permissions:
      - support/ticket.message/create
  /support/project/{projectId}/ticket/{ticketId}/message/{messageId}:
    get:
      description: Get support/ticket.message
      operationId: support_project_ticket_message_get
      parameters:
      - description: Project Id
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: Ticket Id
        explode: false
        in: path
        name: ticketId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: messageId
        explode: false
        in: path
        name: messageId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/support.message'
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: Get support/ticket.message
      tags:
      - support_project_ticket
      x-permissions:
      - support/ticket.message/get
  /iam/organisation:
    get:
      description: List organisation
      operationId: iam_organisation_list
      parameters:
      - description: Filter by name
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: Filter by billing.company
        explode: true
        in: query
        name: billing.company
        required: false
        schema:
          type: string
        style: form
      - description: Filter by $limit
        explode: true
        in: query
        name: $limit
        required: false
        schema:
          type: number
        style: form
      - description: Filter by active
        explode: true
        in: query
        name: active
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/organisation'
                title: Organisation collection
                type: array
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: List iam/organisation
      tags:
      - iam_organisation
      x-permissions: []
    post:
      description: Create organisation
      operationId: iam_organisation_create
      parameters:
      - description: Idempotency key
        explode: false
        in: header
        name: x-idempotency-key
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/iam_organisation_create'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/organisation'
          description: successful operation
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/organisation'
          description: operation queued
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: Create iam/organisation
      tags:
      - iam_organisation
      x-permissions: []
  /iam/organisation/{organisationId}:
    delete:
      description: Delete organisation
      operationId: iam_organisation_delete
      parameters:
      - description: Organisation Id
        explode: false
        in: path
        name: organisationId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: Delete iam/organisation
      tags:
      - iam_organisation
      x-permissions:
      - iam/organisation/delete
      x-state:
      - Active
    get:
      description: Returns a single organisation
      operationId: iam_organisation_get
      parameters:
      - description: Organisation Id
        explode: false
        in: path
        name: organisationId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/organisation'
          description: successful operation
          links:
            project:
              operationId: iam_project_list
              parameters:
                organisation: $request.path.organisationId
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: Get iam/organisation
      tags:
      - iam_organisation
      x-permissions:
      - iam/organisation/get
    patch:
      description: Returns modified organisation
      operationId: iam_organisation_update
      parameters:
      - description: Organisation Id
        explode: false
        in: path
        name: organisationId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/iam_organisation_update'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/organisation'
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: Update iam/organisation
      tags:
      - iam_organisation
  /iam/organisation/{organisationId}/actions/transfer_accept:
    post:
      description: action transfer_accept
      operationId: iam_organisation_transfer_accept
      parameters:
      - description: Organisation Id
        explode: false
        in: path
        name: organisationId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: Idempotency key
        explode: false
        in: header
        name: x-idempotency-key
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/iam_organisation_transfer_accept'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/organisation'
          description: successful operation
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/organisation'
          description: operation queued
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: Transfer accept iam/organisation
      tags:
      - iam_organisation
      x-permissions:
      - iam/organisation.transfer/accept
      x-state:
      - Active
  /iam/organisation/{organisationId}/billing:
    get:
      description: List iam/organisation.billing
      operationId: iam_organisation_billing_list
      parameters:
      - description: Organisation Id
        explode: false
        in: path
        name: organisationId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: start
        explode: true
        in: query
        name: start
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: end
        explode: true
        in: query
        name: end
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: resource.type
        explode: true
        in: query
        name: resource.type
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/billing'
                title: Billing collection
                type: array
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: List iam/organisation.billing
      tags:
      - iam_organisation
      x-permissions:
      - iam/organisation.billing/list
      x-audience: developer
  /iam/organisation/{organisationId}/payment:
    get:
      description: List iam/organisation.payment
      operationId: iam_organisation_payment_list
      parameters:
      - description: Organisation Id
        explode: false
        in: path
        name: organisationId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/payment'
                title: Payment collection
                type: array
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: List iam/organisation.payment
      tags:
      - iam_organisation
      x-permissions:
      - iam/organisation.payment/list
  /iam/organisation/{organisationId}/payment/{paymentId}:
    get:
      description: Get iam/organisation.payment
      operationId: iam_organisation_payment_get
      parameters:
      - description: Organisation Id
        explode: false
        in: path
        name: organisationId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: paymentId
        explode: false
        in: path
        name: paymentId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/payment'
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: Get iam/organisation.payment
      tags:
      - iam_organisation
      x-permissions:
      - iam/organisation.payment/get
  /iam/organisation/{organisationId}/payment/{paymentId}/actions/allocate:
    post:
      description: action allocate
      operationId: iam_organisation_payment_allocate
      parameters:
      - description: Organisation Id
        explode: false
        in: path
        name: organisationId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: paymentId
        explode: false
        in: path
        name: paymentId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/iam_organisation_payment_allocate'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/payment'
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: Allocate iam/organisation.payment
      tags:
      - iam_organisation
      x-permissions:
      - iam/organisation.payment/allocate
      x-state:
      - Unallocated
  /iam/organisation/{organisationId}/invoice:
    get:
      description: List iam/organisation.invoice
      operationId: iam_organisation_invoice_list
      parameters:
      - description: Organisation Id
        explode: false
        in: path
        name: organisationId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/invoice'
                title: Invoice collection
                type: array
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: List iam/organisation.invoice
      tags:
      - iam_organisation
      x-permissions:
      - iam/organisation.invoice/list
  /iam/organisation/{organisationId}/invoice/{invoiceId}:
    get:
      description: Get iam/organisation.invoice
      operationId: iam_organisation_invoice_get
      parameters:
      - description: Organisation Id
        explode: false
        in: path
        name: organisationId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: invoiceId
        explode: false
        in: path
        name: invoiceId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/proforma'
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: Get iam/organisation.invoice
      tags:
      - iam_organisation
      x-permissions:
      - iam/organisation.invoice/get
  /iam/organisation/{organisationId}/invoice/{invoiceId}/actions/download:
    post:
      description: action download
      operationId: iam_organisation_invoice_download
      parameters:
      - description: Organisation Id
        explode: false
        in: path
        name: organisationId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: invoiceId
        explode: false
        in: path
        name: invoiceId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/pdf:
              schema:
                format: binary
                type: string
          description: PDF file
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: Download iam/organisation.invoice
      tags:
      - iam_organisation
      x-permissions:
      - iam/organisation.invoice/download
  /iam/organisation/{organisationId}/proforma:
    get:
      description: List iam/organisation.proforma
      operationId: iam_organisation_proforma_list
      parameters:
      - description: Organisation Id
        explode: false
        in: path
        name: organisationId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/proforma'
                title: Proforma collection
                type: array
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: List iam/organisation.proforma
      tags:
      - iam_organisation
      x-permissions:
      - iam/organisation.proforma/list
    post:
      description: Create iam/organisation.proforma
      operationId: iam_organisation_proforma_create
      parameters:
      - description: Organisation Id
        explode: false
        in: path
        name: organisationId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/iam_organisation_proforma_create'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/proforma'
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: Create iam/organisation.proforma
      tags:
      - iam_organisation
      x-permissions:
      - iam/organisation.proforma/create
  /iam/organisation/{organisationId}/proforma/{proformaId}:
    get:
      description: Get iam/organisation.proforma
      operationId: iam_organisation_proforma_get
      parameters:
      - description: Organisation Id
        explode: false
        in: path
        name: organisationId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: proformaId
        explode: false
        in: path
        name: proformaId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/proforma'
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: Get iam/organisation.proforma
      tags:
      - iam_organisation
      x-permissions:
      - iam/organisation.proforma/get
  /iam/organisation/{organisationId}/proforma/{proformaId}/actions/download:
    post:
      description: action download
      operationId: iam_organisation_proforma_download
      parameters:
      - description: Organisation Id
        explode: false
        in: path
        name: organisationId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: proformaId
        explode: false
        in: path
        name: proformaId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/pdf:
              schema:
                format: binary
                type: string
          description: PDF file
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: Download iam/organisation.proforma
      tags:
      - iam_organisation
      x-permissions:
      - iam/organisation.proforma/download
  /iam/organisation/{organisationId}/invitation:
    get:
      description: List iam/organisation.invitation
      operationId: iam_organisation_invitation_list
      parameters:
      - description: Organisation Id
        explode: false
        in: path
        name: organisationId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: resource
        explode: true
        in: query
        name: resource
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/invitation'
                title: Invitation collection
                type: array
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: List iam/organisation.invitation
      tags:
      - iam_organisation
      x-permissions:
      - iam/organisation.invitation/list
  /iam/organisation/{organisationId}/invitation/{invitationId}:
    delete:
      description: Delete iam/organisation.invitation
      operationId: iam_organisation_invitation_delete
      parameters:
      - description: Organisation Id
        explode: false
        in: path
        name: organisationId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: invitationId
        explode: false
        in: path
        name: invitationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: Delete iam/organisation.invitation
      tags:
      - iam_organisation
      x-permissions:
      - iam/organisation.invitation/delete
    get:
      description: Get iam/organisation.invitation
      operationId: iam_organisation_invitation_get
      parameters:
      - description: Organisation Id
        explode: false
        in: path
        name: organisationId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: invitationId
        explode: false
        in: path
        name: invitationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invitation'
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: Get iam/organisation.invitation
      tags:
      - iam_organisation
      x-permissions:
      - iam/organisation.invitation/get
  /iam/organisation/{organisationId}/invitation/{invitationId}/actions/accept:
    post:
      description: action accept
      operationId: iam_organisation_invitation_accept
      parameters:
      - description: Organisation Id
        explode: false
        in: path
        name: organisationId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: invitationId
        explode: false
        in: path
        name: invitationId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/iam_organisation_invitation_accept'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invitation'
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: Accept iam/organisation.invitation
      tags:
      - iam_organisation
      x-permissions: []
      x-audience: developer
  /iam/organisation/{organisationId}/ownership:
    get:
      description: List iam/organisation.ownership
      operationId: iam_organisation_ownership_list
      parameters:
      - description: Organisation Id
        explode: false
        in: path
        name: organisationId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ownership'
                title: Ownership collection
                type: array
          description: successful operation
          links:
            invitation:
              operationId: iam_organisation_invitation_list
              parameters:
                resource: $path
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: List iam/organisation.ownership
      tags:
      - iam_organisation
      x-permissions:
      - iam/organisation.ownership/list
    post:
      description: Create iam/organisation.ownership
      operationId: iam_organisation_ownership_create
      parameters:
      - description: Organisation Id
        explode: false
        in: path
        name: organisationId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/iam_organisation_ownership_create'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/organisation'
          description: successful operation
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/organisation'
          description: operation queued
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: Create iam/organisation.ownership
      tags:
      - iam_organisation
      x-permissions:
      - iam/organisation.ownership/create
  /iam/organisation/{organisationId}/ownership/{ownershipId}:
    delete:
      description: Delete iam/organisation.ownership
      operationId: iam_organisation_ownership_delete
      parameters:
      - description: Organisation Id
        explode: false
        in: path
        name: organisationId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: ownershipId
        explode: false
        in: path
        name: ownershipId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: Delete iam/organisation.ownership
      tags:
      - iam_organisation
      x-permissions:
      - iam/organisation.ownership/delete
    get:
      description: Get iam/organisation.ownership
      operationId: iam_organisation_ownership_get
      parameters:
      - description: Organisation Id
        explode: false
        in: path
        name: organisationId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: ownershipId
        explode: false
        in: path
        name: ownershipId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ownership'
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: Get iam/organisation.ownership
      tags:
[...]
