openapi: 3.0.0
info:
  title: HyperOne API
  version: 0.0.2
servers:
- description: HyperOne API
  url: https://api.hyperone.com/v1
security:
- Session: []
  Project: []
- ServiceAccount: []
paths:
  /service:
    get:
      description: List service
      operationId: service_list
      parameters:
      - description: Filter by type
        explode: true
        in: query
        name: type
        required: false
        schema:
          type: string
        style: form
      - description: Filter by resource
        explode: true
        in: query
        name: resource
        required: false
        schema:
          type: string
        style: form
      - description: Filter by name
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/service'
                type: array
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: List
      tags:
      - service
  /service/{serviceId}:
    get:
      description: Returns a single service
      operationId: service_show
      parameters:
      - description: ID of service
        explode: false
        in: path
        name: serviceId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service'
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: Get
      tags:
      - service
  /user:
    get:
      description: List user
      operationId: user_list
      parameters: []
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/user'
                type: array
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: List
      tags:
      - user
  /user/{userId}:
    delete:
      operationId: user_delete
      parameters:
      - description: ID of user
        explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      responses:
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: Delete
      tags:
      - user
    get:
      description: Returns a single user
      operationId: user_show
      parameters:
      - description: ID of user
        explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user'
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: Get
      tags:
      - user
  /user/{userId}/credential/password:
    get:
      operationId: user_list_credentialpassword
      parameters:
      - description: ID of user
        explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/credential.password'
                type: array
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /credential/password
      tags:
      - user
    post:
      operationId: user_post_credentialpassword
      parameters:
      - description: ID of user
        explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/user_post_credentialpassword'
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/credential.password'
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /credential/password
      tags:
      - user
  /user/{userId}/credential/password/{id}:
    delete:
      operationId: user_delete_credentialpassword_id
      parameters:
      - description: ID of user
        explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      - description: id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user'
          description: successful operation
        202:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user'
          description: operation queued
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /credential/password/:id
      tags:
      - user
    get:
      operationId: user_get_credentialpassword_id
      parameters:
      - description: ID of user
        explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      - description: id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/credential.password'
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /credential/password/:id
      tags:
      - user
    patch:
      operationId: user_patch_credentialpassword_id
      parameters:
      - description: ID of user
        explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      - description: id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/user_patch_credentialpassword_id'
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/credential.password'
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /credential/password/:id
      tags:
      - user
  /user/{userId}/credential/certificate:
    get:
      operationId: user_list_credentialcertificate
      parameters:
      - description: ID of user
        explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/credential.certificate'
                type: array
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /credential/certificate
      tags:
      - user
    post:
      operationId: user_post_credentialcertificate
      parameters:
      - description: ID of user
        explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/user_post_credentialcertificate'
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/credential.certificate'
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /credential/certificate
      tags:
      - user
  /user/{userId}/credential/certificate/{id}:
    delete:
      operationId: user_delete_credentialcertificate_id
      parameters:
      - description: ID of user
        explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      - description: id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/credential.certificate'
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /credential/certificate/:id
      tags:
      - user
    get:
      operationId: user_get_credentialcertificate_id
      parameters:
      - description: ID of user
        explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      - description: id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/credential.certificate'
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /credential/certificate/:id
      tags:
      - user
    patch:
      operationId: user_patch_credentialcertificate_id
      parameters:
      - description: ID of user
        explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      - description: id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/user_patch_credentialcertificate_id'
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/credential.certificate'
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /credential/certificate/:id
      tags:
      - user
  /user/{userId}/tag:
    get:
      operationId: user_get_tag
      parameters:
      - description: ID of user
        explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user.tag'
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /tag
      tags:
      - user
    patch:
      operationId: user_patch_tag
      parameters:
      - description: ID of user
        explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/user_patch_tag'
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user.tag'
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /tag
      tags:
      - user
  /user/{userId}/tag/{key}:
    delete:
      operationId: user_delete_tag_key
      parameters:
      - description: ID of user
        explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      - description: key
        explode: false
        in: path
        name: key
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user.tag'
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /tag/:key
      tags:
      - user
  /project:
    get:
      description: List project
      operationId: project_list
      parameters:
      - description: Filter by name
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: Filter by $limit
        explode: true
        in: query
        name: $limit
        required: false
        schema:
          type: number
        style: form
      - description: Filter by active
        explode: true
        in: query
        name: active
        required: false
        schema:
          type: boolean
        style: form
      - description: Filter by organisation
        explode: true
        in: query
        name: organisation
        required: false
        schema:
          type: string
        style: form
      - description: Filter by accessRights.id
        explode: true
        in: query
        name: accessRights.id
        required: false
        schema:
          type: string
        style: form
      - description: Filter by tag
        explode: false
        in: query
        name: tag
        required: false
        schema:
          additionalProperties:
            type: string
          type: object
        style: deepObject
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/project'
                type: array
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: List
      tags:
      - project
    post:
      description: Create project
      operationId: project_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/project_create'
        required: true
      responses:
        202:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/project'
          description: operation queued
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: Create
      tags:
      - project
  /project/{projectId}:
    delete:
      operationId: project_delete
      parameters:
      - description: ID of project
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: Delete
      tags:
      - project
    get:
      description: Returns a single project
      operationId: project_show
      parameters:
      - description: ID of project
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/project'
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: Get
      tags:
      - project
    patch:
      description: Returns modified project
      operationId: project_update
      parameters:
      - description: ID of project
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/project_update'
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/project'
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: Update
      tags:
      - project
  /project/{projectId}/limit:
    get:
      operationId: project_list_limit
      parameters:
      - description: ID of project
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/project.limit'
                type: array
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /limit
      tags:
      - project
  /project/{projectId}/accessrights:
    get:
      operationId: project_list_accessrights
      parameters:
      - description: ID of project
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/accessrightsUserRole'
                type: array
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /accessrights
      tags:
      - project
    post:
      operationId: project_post_accessrights
      parameters:
      - description: ID of project
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/project_post_accessrights'
        required: true
      responses:
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /accessrights
      tags:
      - project
  /project/{projectId}/accessrights/{id}:
    delete:
      operationId: project_delete_accessrights_id
      parameters:
      - description: ID of project
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      - description: id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /accessrights/:id
      tags:
      - project
  /project/{projectId}/credentialStore/certificate:
    get:
      operationId: project_list_credentialStorecertificate
      parameters:
      - description: ID of project
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/credential.certificate'
                type: array
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /credentialStore/certificate
      tags:
      - project
    post:
      operationId: project_post_credentialStorecertificate
      parameters:
      - description: ID of project
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/project_post_credentialStorecertificate'
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/credential.certificate'
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /credentialStore/certificate
      tags:
      - project
  /project/{projectId}/credentialStore/certificate/{id}:
    delete:
      operationId: project_delete_credentialStorecertificate_id
      parameters:
      - description: ID of project
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      - description: id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/credential.certificate'
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /credentialStore/certificate/:id
      tags:
      - project
    get:
      operationId: project_get_credentialStorecertificate_id
      parameters:
      - description: ID of project
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      - description: id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/credential.certificate'
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /credentialStore/certificate/:id
      tags:
      - project
    patch:
      operationId: project_patch_credentialStorecertificate_id
      parameters:
      - description: ID of project
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      - description: id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/project_patch_credentialStorecertificate_id'
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/credential.certificate'
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /credentialStore/certificate/:id
      tags:
      - project
  /project/{projectId}/services:
    get:
      operationId: project_list_services
      parameters:
      - description: ID of project
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/project.services'
                type: array
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /services
      tags:
      - project
  /project/{projectId}/services/{serviceId}:
    get:
      operationId: project_get_services_serviceId
      parameters:
      - description: ID of project
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      - description: serviceId
        explode: false
        in: path
        name: serviceId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/project.services'
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /services/:serviceId
      tags:
      - project
  /project/{projectId}/tag:
    get:
      operationId: project_get_tag
      parameters:
      - description: ID of project
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/project.tag'
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /tag
      tags:
      - project
    patch:
      operationId: project_patch_tag
      parameters:
      - description: ID of project
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/project_patch_tag'
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/project.tag'
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /tag
      tags:
      - project
  /project/{projectId}/tag/{key}:
    delete:
      operationId: project_delete_tag_key
      parameters:
      - description: ID of project
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      - description: key
        explode: false
        in: path
        name: key
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/project.tag'
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /tag/:key
      tags:
      - project
  /project/{projectId}/queue:
    get:
      operationId: project_list_queue
      parameters:
      - description: ID of project
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/event'
                type: array
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /queue
      tags:
      - project
  /organisation:
    get:
      description: List organisation
      operationId: organisation_list
      parameters:
      - description: Filter by name
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: Filter by billing.company
        explode: true
        in: query
        name: billing.company
        required: false
        schema:
          type: string
        style: form
      - description: Filter by $limit
        explode: true
        in: query
        name: $limit
        required: false
        schema:
          type: number
        style: form
      - description: Filter by active
        explode: true
        in: query
        name: active
        required: false
        schema:
          type: boolean
        style: form
      - description: Filter by accessRights.id
        explode: true
        in: query
        name: accessRights.id
        required: false
        schema:
          type: string
        style: form
      - description: Filter by tag
        explode: false
        in: query
        name: tag
        required: false
        schema:
          additionalProperties:
            type: string
          type: object
        style: deepObject
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/organisation'
                type: array
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: List
      tags:
      - organisation
    post:
      description: Create organisation
      operationId: organisation_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/organisation_create'
        required: true
      responses:
        202:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/organisation'
          description: operation queued
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: Create
      tags:
      - organisation
  /organisation/{organisationId}:
    get:
      description: Returns a single organisation
      operationId: organisation_show
      parameters:
      - description: ID of organisation
        explode: false
        in: path
        name: organisationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/organisation'
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: Get
      tags:
      - organisation
    patch:
      description: Returns modified organisation
      operationId: organisation_update
      parameters:
      - description: ID of organisation
        explode: false
        in: path
        name: organisationId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/organisation_update'
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/organisation'
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: Update
      tags:
      - organisation
  /organisation/{organisationId}/actions/transfer_accept:
    post:
      description: Action transfer_accept
      operationId: organisation_action_transfer_accept
      parameters:
      - description: ID of organisation
        explode: false
        in: path
        name: organisationId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/organisation_action_transfer_accept'
        required: true
      responses:
        202:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/organisation'
          description: operation queued
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /actions/transfer_accept
      tags:
      - organisation
  /organisation/{organisationId}/actions/payment_assign:
    post:
      description: Action payment_assign
      operationId: organisation_action_payment_assign
      parameters:
      - description: ID of organisation
        explode: false
        in: path
        name: organisationId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/organisation_action_payment_assign'
        required: true
      responses:
        202:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/organisation'
          description: operation queued
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /actions/payment_assign
      tags:
      - organisation
  /organisation/{organisationId}/accessrights:
    get:
      operationId: organisation_list_accessrights
      parameters:
      - description: ID of organisation
        explode: false
        in: path
        name: organisationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/accessrightsUserRole'
                type: array
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /accessrights
      tags:
      - organisation
    post:
      operationId: organisation_post_accessrights
      parameters:
      - description: ID of organisation
        explode: false
        in: path
        name: organisationId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/organisation_post_accessrights'
        required: true
      responses:
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /accessrights
      tags:
      - organisation
  /organisation/{organisationId}/accessrights/{id}:
    delete:
      operationId: organisation_delete_accessrights_id
      parameters:
      - description: ID of organisation
        explode: false
        in: path
        name: organisationId
        required: true
        schema:
          type: string
        style: simple
      - description: id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /accessrights/:id
      tags:
      - organisation
  /organisation/{organisationId}/tag:
    get:
      operationId: organisation_get_tag
      parameters:
      - description: ID of organisation
        explode: false
        in: path
        name: organisationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/organisation.tag'
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /tag
      tags:
      - organisation
    patch:
      operationId: organisation_patch_tag
      parameters:
      - description: ID of organisation
        explode: false
        in: path
        name: organisationId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/organisation_patch_tag'
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/organisation.tag'
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /tag
      tags:
      - organisation
  /organisation/{organisationId}/tag/{key}:
    delete:
      operationId: organisation_delete_tag_key
      parameters:
      - description: ID of organisation
        explode: false
        in: path
        name: organisationId
        required: true
        schema:
          type: string
        style: simple
      - description: key
        explode: false
        in: path
        name: key
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/organisation.tag'
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /tag/:key
      tags:
      - organisation
  /organisation/{organisationId}/queue:
    get:
      operationId: organisation_list_queue
      parameters:
      - description: ID of organisation
        explode: false
        in: path
        name: organisationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/event'
                type: array
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /queue
      tags:
      - organisation
  /firewall:
    get:
      description: List firewall
      operationId: firewall_list
      parameters:
      - description: Filter by name
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: Filter by tag
        explode: false
        in: query
        name: tag
        required: false
        schema:
          additionalProperties:
            type: string
          type: object
        style: deepObject
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/firewall'
                type: array
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: List
      tags:
      - firewall
    post:
      description: Create firewall
      operationId: firewall_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/firewall_create'
        required: true
      responses:
        202:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/firewall'
          description: operation queued
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: Create
      tags:
      - firewall
  /firewall/{firewallId}:
    delete:
      operationId: firewall_delete
      parameters:
      - description: ID of firewall
        explode: false
        in: path
        name: firewallId
        required: true
        schema:
          type: string
        style: simple
      responses:
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: Delete
      tags:
      - firewall
    get:
      description: Returns a single firewall
      operationId: firewall_show
      parameters:
      - description: ID of firewall
        explode: false
        in: path
        name: firewallId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/firewall'
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: Get
      tags:
      - firewall
    patch:
      description: Returns modified firewall
      operationId: firewall_update
      parameters:
      - description: ID of firewall
        explode: false
        in: path
        name: firewallId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/firewall_update'
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/firewall'
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: Update
      tags:
      - firewall
  /firewall/{firewallId}/actions/attach:
    post:
      description: Action attach
      operationId: firewall_action_attach
      parameters:
      - description: ID of firewall
        explode: false
        in: path
        name: firewallId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/firewall_action_attach'
        required: true
      responses:
        202:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/firewall'
          description: operation queued
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /actions/attach
      tags:
      - firewall
  /firewall/{firewallId}/actions/detach:
    post:
      description: Action detach
      operationId: firewall_action_detach
      parameters:
      - description: ID of firewall
        explode: false
        in: path
        name: firewallId
        required: true
        schema:
          type: string
        style: simple
      responses:
        202:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/firewall'
          description: operation queued
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /actions/detach
      tags:
      - firewall
  /firewall/{firewallId}/actions/transfer:
    post:
      description: Action transfer
      operationId: firewall_action_transfer
      parameters:
      - description: ID of firewall
        explode: false
        in: path
        name: firewallId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/firewall_action_transfer'
        required: true
      responses:
        202:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/firewall'
          description: operation queued
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /actions/transfer
      tags:
      - firewall
  /firewall/{firewallId}/ingress:
    get:
      operationId: firewall_list_ingress
      parameters:
      - description: ID of firewall
        explode: false
        in: path
        name: firewallId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/inline_response_200'
                type: array
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /ingress
      tags:
      - firewall
    post:
      operationId: firewall_post_ingress
      parameters:
      - description: ID of firewall
        explode: false
        in: path
        name: firewallId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/firewall_post_ingress'
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /ingress
      tags:
      - firewall
  /firewall/{firewallId}/ingress/{ruleId}:
    delete:
      operationId: firewall_delete_ingress_ruleId
      parameters:
      - description: ID of firewall
        explode: false
        in: path
        name: firewallId
        required: true
        schema:
          type: string
        style: simple
      - description: ruleId
        explode: false
        in: path
        name: ruleId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /ingress/:ruleId
      tags:
      - firewall
    get:
      operationId: firewall_get_ingress_ruleId
      parameters:
      - description: ID of firewall
        explode: false
        in: path
        name: firewallId
        required: true
        schema:
          type: string
        style: simple
      - description: ruleId
        explode: false
        in: path
        name: ruleId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /ingress/:ruleId
      tags:
      - firewall
  /firewall/{firewallId}/egress:
    get:
      operationId: firewall_list_egress
      parameters:
      - description: ID of firewall
        explode: false
        in: path
        name: firewallId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/inline_response_200'
                type: array
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /egress
      tags:
      - firewall
    post:
      operationId: firewall_post_egress
      parameters:
      - description: ID of firewall
        explode: false
        in: path
        name: firewallId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/firewall_post_egress'
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /egress
      tags:
      - firewall
  /firewall/{firewallId}/egress/{ruleId}:
    delete:
      operationId: firewall_delete_egress_ruleId
      parameters:
      - description: ID of firewall
        explode: false
        in: path
        name: firewallId
        required: true
        schema:
          type: string
        style: simple
      - description: ruleId
        explode: false
        in: path
        name: ruleId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /egress/:ruleId
      tags:
      - firewall
    get:
      operationId: firewall_get_egress_ruleId
      parameters:
      - description: ID of firewall
        explode: false
        in: path
        name: firewallId
        required: true
        schema:
          type: string
        style: simple
      - description: ruleId
        explode: false
        in: path
        name: ruleId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /egress/:ruleId
      tags:
      - firewall
  /firewall/{firewallId}/accessrights:
    get:
      operationId: firewall_list_accessrights
      parameters:
      - description: ID of firewall
        explode: false
        in: path
        name: firewallId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/accessrightsProject'
                type: array
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /accessrights
      tags:
      - firewall
    post:
      operationId: firewall_post_accessrights
      parameters:
      - description: ID of firewall
        explode: false
        in: path
        name: firewallId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/firewall_post_accessrights'
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/firewall'
          description: successful operation
        202:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/firewall'
          description: operation queued
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /accessrights
      tags:
      - firewall
  /firewall/{firewallId}/accessrights/{identity}:
    delete:
      operationId: firewall_delete_accessrights_identity
      parameters:
      - description: ID of firewall
        explode: false
        in: path
        name: firewallId
        required: true
        schema:
          type: string
        style: simple
      - description: identity
        explode: false
        in: path
        name: identity
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/firewall'
          description: successful operation
        202:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/firewall'
          description: operation queued
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /accessrights/:identity
      tags:
      - firewall
  /firewall/{firewallId}/services:
    get:
      operationId: firewall_list_services
      parameters:
      - description: ID of firewall
        explode: false
        in: path
        name: firewallId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/firewall.services'
                type: array
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /services
      tags:
      - firewall
  /firewall/{firewallId}/services/{serviceId}:
    get:
      operationId: firewall_get_services_serviceId
      parameters:
      - description: ID of firewall
        explode: false
        in: path
        name: firewallId
        required: true
        schema:
          type: string
        style: simple
      - description: serviceId
        explode: false
        in: path
        name: serviceId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/firewall.services'
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /services/:serviceId
      tags:
      - firewall
  /firewall/{firewallId}/tag:
    get:
      operationId: firewall_get_tag
      parameters:
      - description: ID of firewall
        explode: false
        in: path
        name: firewallId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/firewall.tag'
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /tag
      tags:
      - firewall
    patch:
      operationId: firewall_patch_tag
      parameters:
      - description: ID of firewall
        explode: false
        in: path
        name: firewallId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/firewall_patch_tag'
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/firewall.tag'
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /tag
      tags:
      - firewall
  /firewall/{firewallId}/tag/{key}:
    delete:
      operationId: firewall_delete_tag_key
      parameters:
      - description: ID of firewall
        explode: false
        in: path
        name: firewallId
        required: true
        schema:
          type: string
        style: simple
      - description: key
        explode: false
        in: path
        name: key
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/firewall.tag'
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /tag/:key
      tags:
      - firewall
  /firewall/{firewallId}/queue:
    get:
      operationId: firewall_list_queue
      parameters:
      - description: ID of firewall
        explode: false
        in: path
        name: firewallId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/event'
                type: array
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /queue
      tags:
      - firewall
  /network:
    get:
      description: List network
      operationId: network_list
      parameters:
      - description: Filter by name
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: Filter by tag
        explode: false
        in: query
        name: tag
        required: false
        schema:
          additionalProperties:
            type: string
          type: object
        style: deepObject
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/network'
                type: array
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: List
      tags:
      - network
    post:
      description: Create network
      operationId: network_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/network_create'
        required: true
      responses:
        202:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/network'
          description: operation queued
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: Create
      tags:
      - network
  /network/{networkId}:
    delete:
      operationId: network_delete
      parameters:
      - description: ID of network
        explode: false
        in: path
        name: networkId
        required: true
        schema:
          type: string
        style: simple
      responses:
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: Delete
      tags:
      - network
    get:
      description: Returns a single network
      operationId: network_show
      parameters:
      - description: ID of network
        explode: false
        in: path
        name: networkId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/network'
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: Get
      tags:
      - network
    patch:
      description: Returns modified network
      operationId: network_update
      parameters:
      - description: ID of network
        explode: false
        in: path
        name: networkId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/network_update'
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/network'
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: Update
      tags:
      - network
  /network/{networkId}/ip:
    get:
      operationId: network_list_ip
      parameters:
      - description: ID of network
        explode: false
        in: path
        name: networkId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ip'
                type: array
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /ip
      tags:
      - network
    post:
      operationId: network_post_ip
      parameters:
      - description: ID of network
        explode: false
        in: path
        name: networkId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/network_post_ip'
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ip'
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /ip
      tags:
      - network
  /network/{networkId}/ip/{ipId}:
    delete:
      operationId: network_delete_ip_ipId
      parameters:
      - description: ID of network
        explode: false
        in: path
        name: networkId
        required: true
        schema:
          type: string
        style: simple
      - description: ipId
        explode: false
        in: path
        name: ipId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ip'
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /ip/:ipId
      tags:
      - network
    get:
      operationId: network_get_ip_ipId
      parameters:
      - description: ID of network
        explode: false
        in: path
        name: networkId
        required: true
        schema:
          type: string
        style: simple
      - description: ipId
        explode: false
        in: path
        name: ipId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ip'
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /ip/:ipId
      tags:
      - network
  /network/{networkId}/accessrights:
    get:
      operationId: network_list_accessrights
      parameters:
      - description: ID of network
        explode: false
        in: path
        name: networkId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/accessrightsProject'
                type: array
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /accessrights
      tags:
      - network
    post:
      operationId: network_post_accessrights
      parameters:
      - description: ID of network
        explode: false
        in: path
        name: networkId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/network_post_accessrights'
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/network'
          description: successful operation
        202:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/network'
          description: operation queued
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /accessrights
      tags:
      - network
  /network/{networkId}/accessrights/{identity}:
    delete:
      operationId: network_delete_accessrights_identity
      parameters:
      - description: ID of network
        explode: false
        in: path
        name: networkId
        required: true
        schema:
          type: string
        style: simple
      - description: identity
        explode: false
        in: path
        name: identity
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/network'
          description: successful operation
        202:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/network'
          description: operation queued
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /accessrights/:identity
      tags:
      - network
  /network/{networkId}/services:
    get:
      operationId: network_list_services
      parameters:
      - description: ID of network
        explode: false
        in: path
        name: networkId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/network.services'
                type: array
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /services
      tags:
      - network
  /network/{networkId}/services/{serviceId}:
    get:
      operationId: network_get_services_serviceId
      parameters:
      - description: ID of network
        explode: false
        in: path
        name: networkId
        required: true
        schema:
          type: string
        style: simple
      - description: serviceId
        explode: false
        in: path
        name: serviceId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/network.services'
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /services/:serviceId
      tags:
      - network
  /network/{networkId}/tag:
    get:
      operationId: network_get_tag
      parameters:
      - description: ID of network
        explode: false
        in: path
        name: networkId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/network.tag'
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /tag
      tags:
      - network
    patch:
      operationId: network_patch_tag
      parameters:
      - description: ID of network
        explode: false
        in: path
        name: networkId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/network_patch_tag'
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/network.tag'
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /tag
      tags:
      - network
  /network/{networkId}/tag/{key}:
    delete:
      operationId: network_delete_tag_key
      parameters:
      - description: ID of network
        explode: false
        in: path
        name: networkId
        required: true
        schema:
          type: string
        style: simple
      - description: key
        explode: false
        in: path
        name: key
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/network.tag'
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /tag/:key
      tags:
      - network
  /network/{networkId}/queue:
    get:
      operationId: network_list_queue
      parameters:
      - description: ID of network
        explode: false
        in: path
        name: networkId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/event'
                type: array
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /queue
      tags:
      - network
  /netgw:
    get:
      description: List netgw
      operationId: netgw_list
      parameters:
      - description: Filter by name
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: Filter by tag
        explode: false
        in: query
        name: tag
        required: false
        schema:
          additionalProperties:
            type: string
          type: object
        style: deepObject
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/netgw'
                type: array
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: List
      tags:
      - netgw
    post:
      description: Create netgw
      operationId: netgw_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/netgw_create'
        required: true
      responses:
        202:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/netgw'
          description: operation queued
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: Create
      tags:
      - netgw
  /netgw/{netgwId}:
    delete:
      operationId: netgw_delete
      parameters:
      - description: ID of netgw
        explode: false
        in: path
        name: netgwId
        required: true
        schema:
          type: string
        style: simple
      responses:
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: Delete
      tags:
      - netgw
    get:
      description: Returns a single netgw
      operationId: netgw_show
      parameters:
      - description: ID of netgw
        explode: false
        in: path
        name: netgwId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/netgw'
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: Get
      tags:
      - netgw
    patch:
      description: Returns modified netgw
      operationId: netgw_update
      parameters:
      - description: ID of netgw
        explode: false
        in: path
        name: netgwId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/netgw_update'
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/netgw'
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: Update
      tags:
      - netgw
  /netgw/{netgwId}/actions/attach:
    post:
      description: Action attach
      operationId: netgw_action_attach
      parameters:
      - description: ID of netgw
        explode: false
        in: path
        name: netgwId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/netgw_action_attach'
        required: true
      responses:
        202:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/netgw'
          description: operation queued
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /actions/attach
      tags:
      - netgw
  /netgw/{netgwId}/actions/detach:
    post:
      description: Action detach
      operationId: netgw_action_detach
      parameters:
      - description: ID of netgw
        explode: false
        in: path
        name: netgwId
        required: true
        schema:
          type: string
        style: simple
      responses:
        202:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/netgw'
          description: operation queued
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /actions/detach
      tags:
      - netgw
  /netgw/{netgwId}/accessrights:
    get:
      operationId: netgw_list_accessrights
      parameters:
      - description: ID of netgw
        explode: false
        in: path
        name: netgwId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/accessrightsProject'
                type: array
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /accessrights
      tags:
      - netgw
    post:
      operationId: netgw_post_accessrights
      parameters:
      - description: ID of netgw
        explode: false
        in: path
        name: netgwId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/netgw_post_accessrights'
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/netgw'
          description: successful operation
        202:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/netgw'
          description: operation queued
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /accessrights
      tags:
      - netgw
  /netgw/{netgwId}/accessrights/{identity}:
    delete:
      operationId: netgw_delete_accessrights_identity
      parameters:
      - description: ID of netgw
        explode: false
        in: path
        name: netgwId
        required: true
        schema:
          type: string
        style: simple
      - description: identity
        explode: false
        in: path
        name: identity
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/netgw'
          description: successful operation
        202:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/netgw'
          description: operation queued
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /accessrights/:identity
      tags:
      - netgw
  /netgw/{netgwId}/services:
    get:
      operationId: netgw_list_services
      parameters:
      - description: ID of netgw
        explode: false
        in: path
        name: netgwId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/netgw.services'
                type: array
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /services
      tags:
      - netgw
  /netgw/{netgwId}/services/{serviceId}:
    get:
      operationId: netgw_get_services_serviceId
      parameters:
      - description: ID of netgw
        explode: false
        in: path
        name: netgwId
        required: true
        schema:
          type: string
        style: simple
      - description: serviceId
        explode: false
        in: path
        name: serviceId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/netgw.services'
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /services/:serviceId
      tags:
      - netgw
  /netgw/{netgwId}/tag:
    get:
      operationId: netgw_get_tag
      parameters:
      - description: ID of netgw
        explode: false
        in: path
        name: netgwId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/netgw.tag'
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /tag
      tags:
      - netgw
    patch:
      operationId: netgw_patch_tag
      parameters:
      - description: ID of netgw
        explode: false
        in: path
        name: netgwId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/netgw_patch_tag'
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/netgw.tag'
[...]
