openapi: 3.0.0
info:
  title: HyperOne API
  version: 0.0.2
servers:
- description: HyperOne API
  url: https://api.hyperone.com/v1
security:
- Session: []
  Project: []
- ServiceAccount: []
tags:
- name: service
- name: user
- name: project
- name: organisation
- description: Available as part of the Early Adopters program.
  name: agent
- description: Available as part of the Early Adopters program.
  name: container
- description: Available as part of the Early Adopters program.
  name: database
- description: Available as part of the Early Adopters program.
  name: journal
- description: Available as part of the Early Adopters program.
  name: registry
- description: Available as part of the Early Adopters program.
  name: volume
- description: Available as part of the Early Adopters program.
  name: website
- name: zone
- name: disk
- name: firewall
- name: image
- name: ip
- name: iso
- name: netadp
- name: netgw
- name: network
- name: replica
- name: snapshot
- name: vault
- name: vm
- name: reservation
- name: vmhost
paths:
  /service:
    get:
      description: List service
      operationId: service_list
      parameters:
      - description: Filter by type
        explode: true
        in: query
        name: type
        required: false
        schema:
          type: string
        style: form
      - description: Filter by resource
        explode: true
        in: query
        name: resource
        required: false
        schema:
          type: string
        style: form
      - description: Filter by name
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/service'
                type: array
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: List
      tags:
      - service
  /service/{serviceId}:
    get:
      description: Returns a single service
      operationId: service_show
      parameters:
      - description: ID of service
        explode: false
        in: path
        name: serviceId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service'
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: Get
      tags:
      - service
  /user/{userId}:
    get:
      description: Returns a single user
      operationId: user_show
      parameters:
      - description: ID of user
        explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user'
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: Get
      tags:
      - user
    patch:
      description: Returns modified user
      operationId: user_update
      parameters:
      - description: ID of user
        explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/user_update'
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user'
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: Update
      tags:
      - user
  /user/{userId}/credential/authtoken:
    get:
      operationId: user_list_credentialauthtoken
      parameters:
      - description: ID of user
        explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/authToken'
                type: array
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /credential/authtoken
      tags:
      - user
  /user/{userId}/credential/authtoken/:id:
    delete:
      operationId: user_delete_credentialauthtoken_id
      parameters:
      - description: ID of user
        explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      - description: invitationId
        explode: false
        in: path
        name: invitationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        204:
          description: No Content
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /credential/authtoken/:id
      tags:
      - user
    get:
      operationId: user_get_credentialauthtoken_id
      parameters:
      - description: ID of user
        explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      - description: invitationId
        explode: false
        in: path
        name: invitationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authToken'
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /credential/authtoken/:id
      tags:
      - user
  /user/{userId}/invitation:
    get:
      operationId: user_list_invitation
      parameters:
      - description: ID of user
        explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/inline_response_200'
                type: array
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /invitation
      tags:
      - user
  /user/{userId}/invitation/{invitationId}/accept:
    post:
      operationId: user_post_invitation_invitationIdaccept
      parameters:
      - description: ID of user
        explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      - description: invitationId
        explode: false
        in: path
        name: invitationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        204:
          description: No Content
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /invitation/:invitationId/accept
      tags:
      - user
  /user/{userId}/invitation/{invitationId}/decline:
    post:
      operationId: user_post_invitation_invitationIddecline
      parameters:
      - description: ID of user
        explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      - description: invitationId
        explode: false
        in: path
        name: invitationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        204:
          description: No Content
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /invitation/:invitationId/decline
      tags:
      - user
  /user/{userId}/credential/password:
    get:
      operationId: user_list_credentialpassword
      parameters:
      - description: ID of user
        explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/credential.password'
                type: array
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /credential/password
      tags:
      - user
    post:
      operationId: user_post_credentialpassword
      parameters:
      - description: ID of user
        explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/user_post_credentialpassword'
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/credential.password'
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /credential/password
      tags:
      - user
  /user/{userId}/credential/password/{id}:
    delete:
      operationId: user_delete_credentialpassword_id
      parameters:
      - description: ID of user
        explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      - description: id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user'
          description: successful operation
        202:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user'
          description: operation queued
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /credential/password/:id
      tags:
      - user
    get:
      operationId: user_get_credentialpassword_id
      parameters:
      - description: ID of user
        explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      - description: id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/credential.password'
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /credential/password/:id
      tags:
      - user
    patch:
      operationId: user_patch_credentialpassword_id
      parameters:
      - description: ID of user
        explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      - description: id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/user_patch_credentialpassword_id'
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/credential.password'
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /credential/password/:id
      tags:
      - user
  /user/{userId}/credential/certificate:
    get:
      operationId: user_list_credentialcertificate
      parameters:
      - description: ID of user
        explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/credential.certificate'
                type: array
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /credential/certificate
      tags:
      - user
    post:
      operationId: user_post_credentialcertificate
      parameters:
      - description: ID of user
        explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/user_post_credentialcertificate'
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/credential.certificate'
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /credential/certificate
      tags:
      - user
  /user/{userId}/credential/certificate/{id}:
    delete:
      operationId: user_delete_credentialcertificate_id
      parameters:
      - description: ID of user
        explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      - description: id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /credential/certificate/:id
      tags:
      - user
    get:
      operationId: user_get_credentialcertificate_id
      parameters:
      - description: ID of user
        explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      - description: id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/credential.certificate'
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /credential/certificate/:id
      tags:
      - user
    patch:
      operationId: user_patch_credentialcertificate_id
      parameters:
      - description: ID of user
        explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      - description: id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/user_patch_credentialcertificate_id'
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/credential.certificate'
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /credential/certificate/:id
      tags:
      - user
  /user/{userId}/credential:
    get:
      operationId: user_list_credential
      parameters:
      - description: ID of user
        explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/credential.password'
                type: array
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /credential
      tags:
      - user
    post:
      operationId: user_post_credential
      parameters:
      - description: ID of user
        explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/user_post_credential'
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/credential.password'
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /credential
      tags:
      - user
  /user/{userId}/credential/{id}:
    delete:
      operationId: user_delete_credential_id
      parameters:
      - description: ID of user
        explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      - description: id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user'
          description: successful operation
        202:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user'
          description: operation queued
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /credential/:id
      tags:
      - user
    get:
      operationId: user_get_credential_id
      parameters:
      - description: ID of user
        explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      - description: id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/credential.password'
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /credential/:id
      tags:
      - user
    patch:
      operationId: user_patch_credential_id
      parameters:
      - description: ID of user
        explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      - description: id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/user_patch_credential_id'
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/credential.password'
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /credential/:id
      tags:
      - user
  /user/{userId}/services:
    get:
      operationId: user_list_services
      parameters:
      - description: ID of user
        explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/user.services'
                type: array
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /services
      tags:
      - user
  /user/{userId}/services/{serviceId}:
    get:
      operationId: user_get_services_serviceId
      parameters:
      - description: ID of user
        explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      - description: serviceId
        explode: false
        in: path
        name: serviceId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user.services'
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /services/:serviceId
      tags:
      - user
  /user/{userId}/tag:
    get:
      operationId: user_get_tag
      parameters:
      - description: ID of user
        explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user.tag'
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /tag
      tags:
      - user
    patch:
      operationId: user_patch_tag
      parameters:
      - description: ID of user
        explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/user_patch_tag'
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user.tag'
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /tag
      tags:
      - user
    put:
      operationId: user_put_tag
      parameters:
      - description: ID of user
        explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/user_put_tag'
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user.tag'
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /tag
      tags:
      - user
  /user/{userId}/tag/{key}:
    delete:
      operationId: user_delete_tag_key
      parameters:
      - description: ID of user
        explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      - description: key
        explode: false
        in: path
        name: key
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user.tag'
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /tag/:key
      tags:
      - user
  /project:
    get:
      description: List project
      operationId: project_list
      parameters:
      - description: Filter by name
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: Filter by $limit
        explode: true
        in: query
        name: $limit
        required: false
        schema:
          type: number
        style: form
      - description: Filter by active
        explode: true
        in: query
        name: active
        required: false
        schema:
          type: boolean
        style: form
      - description: Filter by organisation
        explode: true
        in: query
        name: organisation
        required: false
        schema:
          type: string
        style: form
      - description: Filter by accessRights.id
        explode: true
        in: query
        name: accessRights.id
        required: false
        schema:
          type: string
        style: form
      - description: Filter by tag
        explode: false
        in: query
        name: tag
        required: false
        schema:
          additionalProperties:
            type: string
          type: object
        style: deepObject
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/project'
                type: array
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: List
      tags:
      - project
    post:
      description: Create project
      operationId: project_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/project_create'
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/project'
          description: successful operation
        202:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/project'
          description: operation queued
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: Create
      tags:
      - project
  /project/{projectId}:
    delete:
      operationId: project_delete
      parameters:
      - description: ID of project
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: Delete
      tags:
      - project
    get:
      description: Returns a single project
      operationId: project_show
      parameters:
      - description: ID of project
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/project'
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: Get
      tags:
      - project
    patch:
      description: Returns modified project
      operationId: project_update
      parameters:
      - description: ID of project
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/project_update'
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/project'
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: Update
      tags:
      - project
  /project/{projectId}/stats:
    get:
      operationId: project_list_stats
      parameters:
      - description: ID of project
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/inline_response_200_2'
                type: array
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /stats
      tags:
      - project
  /project/{projectId}/limit:
    get:
      operationId: project_get_limit
      parameters:
      - description: ID of project
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/project.limit'
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /limit
      tags:
      - project
  /project/{projectId}/billing:
    get:
      operationId: project_list_billing
      parameters:
      - description: ID of project
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      - description: start
        explode: true
        in: query
        name: start
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: end
        explode: true
        in: query
        name: end
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: resource.type
        explode: true
        in: query
        name: resource.type
        required: false
        schema:
          type: string
        style: form
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/billing'
                type: array
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /billing
      tags:
      - project
  /project/{projectId}/accessrights:
    get:
      operationId: project_list_accessrights
      parameters:
      - description: ID of project
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/accessrightsUserRole'
                type: array
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /accessrights
      tags:
      - project
    post:
      operationId: project_post_accessrights
      parameters:
      - description: ID of project
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/project_post_accessrights'
        required: true
      responses:
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /accessrights
      tags:
      - project
  /project/{projectId}/accessrights/{id}:
    delete:
      operationId: project_delete_accessrights_id
      parameters:
      - description: ID of project
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      - description: id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /accessrights/:id
      tags:
      - project
  /project/{projectId}/credentialStore/certificate:
    get:
      operationId: project_list_credentialStorecertificate
      parameters:
      - description: ID of project
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/credential.certificate'
                type: array
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /credentialStore/certificate
      tags:
      - project
    post:
      operationId: project_post_credentialStorecertificate
      parameters:
      - description: ID of project
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/project_post_credentialStorecertificate'
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/credential.certificate'
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /credentialStore/certificate
      tags:
      - project
  /project/{projectId}/credentialStore/certificate/{id}:
    delete:
      operationId: project_delete_credentialStorecertificate_id
      parameters:
      - description: ID of project
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      - description: id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_3'
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /credentialStore/certificate/:id
      tags:
      - project
    get:
      operationId: project_get_credentialStorecertificate_id
      parameters:
      - description: ID of project
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      - description: id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/credential.certificate'
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /credentialStore/certificate/:id
      tags:
      - project
    patch:
      operationId: project_patch_credentialStorecertificate_id
      parameters:
      - description: ID of project
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      - description: id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/project_patch_credentialStorecertificate_id'
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/credential.certificate'
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /credentialStore/certificate/:id
      tags:
      - project
  /project/{projectId}/credentialStore:
    get:
      operationId: project_list_credentialStore
      parameters:
      - description: ID of project
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/credential.password'
                type: array
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /credentialStore
      tags:
      - project
    post:
      operationId: project_post_credentialStore
      parameters:
      - description: ID of project
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/project_post_credentialStore'
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/credential.password'
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /credentialStore
      tags:
      - project
  /project/{projectId}/credentialStore/{id}:
    delete:
      operationId: project_delete_credentialStore_id
      parameters:
      - description: ID of project
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      - description: id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/project'
          description: successful operation
        202:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/project'
          description: operation queued
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /credentialStore/:id
      tags:
      - project
    get:
      operationId: project_get_credentialStore_id
      parameters:
      - description: ID of project
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      - description: id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/credential.password'
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /credentialStore/:id
      tags:
      - project
    patch:
      operationId: project_patch_credentialStore_id
      parameters:
      - description: ID of project
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      - description: id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/project_patch_credentialStore_id'
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/credential.password'
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /credentialStore/:id
      tags:
      - project
  /project/{projectId}/services:
    get:
      operationId: project_list_services
      parameters:
      - description: ID of project
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/project.services'
                type: array
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /services
      tags:
      - project
  /project/{projectId}/services/{serviceId}:
    get:
      operationId: project_get_services_serviceId
      parameters:
      - description: ID of project
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      - description: serviceId
        explode: false
        in: path
        name: serviceId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/project.services'
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /services/:serviceId
      tags:
      - project
  /project/{projectId}/tag:
    get:
      operationId: project_get_tag
      parameters:
      - description: ID of project
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/project.tag'
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /tag
      tags:
      - project
    patch:
      operationId: project_patch_tag
      parameters:
      - description: ID of project
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/project_patch_tag'
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/project.tag'
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /tag
      tags:
      - project
    put:
      operationId: project_put_tag
      parameters:
      - description: ID of project
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/project_put_tag'
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/project.tag'
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /tag
      tags:
      - project
  /project/{projectId}/tag/{key}:
    delete:
      operationId: project_delete_tag_key
      parameters:
      - description: ID of project
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      - description: key
        explode: false
        in: path
        name: key
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/project.tag'
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /tag/:key
      tags:
      - project
  /project/{projectId}/queue:
    get:
      operationId: project_list_queue
      parameters:
      - description: ID of project
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      - description: $limit
        explode: true
        in: query
        name: $limit
        required: false
        schema:
          type: number
        style: form
      - description: $skip
        explode: true
        in: query
        name: $skip
        required: false
        schema:
          type: number
        style: form
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/event'
                type: array
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /queue
      tags:
      - project
  /organisation:
    get:
      description: List organisation
      operationId: organisation_list
      parameters:
      - description: Filter by name
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: Filter by billing.company
        explode: true
        in: query
        name: billing.company
        required: false
        schema:
          type: string
        style: form
      - description: Filter by $limit
        explode: true
        in: query
        name: $limit
        required: false
        schema:
          type: number
        style: form
      - description: Filter by active
        explode: true
        in: query
        name: active
        required: false
        schema:
          type: boolean
        style: form
      - description: Filter by accessRights.id
        explode: true
        in: query
        name: accessRights.id
        required: false
        schema:
          type: string
        style: form
      - description: Filter by tag
        explode: false
        in: query
        name: tag
        required: false
        schema:
          additionalProperties:
            type: string
          type: object
        style: deepObject
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/organisation'
                type: array
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: List
      tags:
      - organisation
    post:
      description: Create organisation
      operationId: organisation_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/organisation_create'
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/organisation'
          description: successful operation
        202:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/organisation'
          description: operation queued
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: Create
      tags:
      - organisation
  /organisation/{organisationId}:
    get:
      description: Returns a single organisation
      operationId: organisation_show
      parameters:
      - description: ID of organisation
        explode: false
        in: path
        name: organisationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/organisation'
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: Get
      tags:
      - organisation
    patch:
      description: Returns modified organisation
      operationId: organisation_update
      parameters:
      - description: ID of organisation
        explode: false
        in: path
        name: organisationId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/organisation_update'
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/organisation'
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: Update
      tags:
      - organisation
  /organisation/{organisationId}/actions/transfer_accept:
    post:
      description: Action transfer_accept
      operationId: organisation_action_transfer_accept
      parameters:
      - description: ID of organisation
        explode: false
        in: path
        name: organisationId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/organisation_action_transfer_accept'
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/organisation'
          description: successful operation
        202:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/organisation'
          description: operation queued
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /actions/transfer_accept
      tags:
      - organisation
  /organisation/{organisationId}/actions/payment_assign:
    post:
      description: Action payment_assign
      operationId: organisation_action_payment_assign
      parameters:
      - description: ID of organisation
        explode: false
        in: path
        name: organisationId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/organisation_action_payment_assign'
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/organisation'
          description: successful operation
        202:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/organisation'
          description: operation queued
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /actions/payment_assign
      tags:
      - organisation
  /organisation/{organisationId}/billing:
    get:
      operationId: organisation_list_billing
      parameters:
      - description: ID of organisation
        explode: false
        in: path
        name: organisationId
        required: true
        schema:
          type: string
        style: simple
      - description: start
        explode: true
        in: query
        name: start
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: end
        explode: true
        in: query
        name: end
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: resource.type
        explode: true
        in: query
        name: resource.type
        required: false
        schema:
          type: string
        style: form
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/billing'
                type: array
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /billing
      tags:
      - organisation
  /organisation/{organisationId}/accessrights:
    get:
      operationId: organisation_list_accessrights
      parameters:
      - description: ID of organisation
        explode: false
        in: path
        name: organisationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/accessrightsUserRole'
                type: array
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /accessrights
      tags:
      - organisation
    post:
      operationId: organisation_post_accessrights
      parameters:
      - description: ID of organisation
        explode: false
        in: path
        name: organisationId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/organisation_post_accessrights'
        required: true
      responses:
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /accessrights
      tags:
      - organisation
  /organisation/{organisationId}/accessrights/{id}:
    delete:
      operationId: organisation_delete_accessrights_id
      parameters:
      - description: ID of organisation
        explode: false
        in: path
        name: organisationId
        required: true
        schema:
          type: string
        style: simple
      - description: id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /accessrights/:id
      tags:
      - organisation
  /organisation/{organisationId}/tag:
    get:
      operationId: organisation_get_tag
      parameters:
      - description: ID of organisation
        explode: false
        in: path
        name: organisationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/organisation.tag'
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /tag
      tags:
      - organisation
    patch:
      operationId: organisation_patch_tag
      parameters:
      - description: ID of organisation
        explode: false
        in: path
        name: organisationId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/organisation_patch_tag'
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/organisation.tag'
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /tag
      tags:
      - organisation
    put:
      operationId: organisation_put_tag
      parameters:
      - description: ID of organisation
        explode: false
        in: path
        name: organisationId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/organisation_put_tag'
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/organisation.tag'
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /tag
      tags:
      - organisation
  /organisation/{organisationId}/tag/{key}:
    delete:
      operationId: organisation_delete_tag_key
      parameters:
      - description: ID of organisation
        explode: false
        in: path
        name: organisationId
        required: true
        schema:
          type: string
        style: simple
      - description: key
        explode: false
        in: path
        name: key
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/organisation.tag'
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /tag/:key
      tags:
      - organisation
  /organisation/{organisationId}/queue:
    get:
      operationId: organisation_list_queue
      parameters:
      - description: ID of organisation
        explode: false
        in: path
        name: organisationId
        required: true
        schema:
          type: string
        style: simple
      - description: $limit
        explode: true
        in: query
        name: $limit
        required: false
        schema:
          type: number
        style: form
      - description: $skip
        explode: true
        in: query
        name: $skip
        required: false
        schema:
          type: number
        style: form
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/event'
                type: array
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /queue
      tags:
      - organisation
  /agent:
    get:
      description: List agent
      operationId: agent_list
      parameters:
      - description: Filter by name
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: Filter by tag
        explode: false
        in: query
        name: tag
        required: false
        schema:
          additionalProperties:
            type: string
          type: object
        style: deepObject
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/agent'
                type: array
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: List
      tags:
      - agent
    post:
      description: Create agent
      operationId: agent_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/agent_create'
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/agent'
          description: successful operation
        202:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/agent'
          description: operation queued
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: Create
      tags:
      - agent
  /agent/{agentId}:
    delete:
      operationId: agent_delete
      parameters:
      - description: ID of agent
        explode: false
        in: path
        name: agentId
        required: true
        schema:
          type: string
        style: simple
      responses:
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: Delete
      tags:
      - agent
    get:
      description: Returns a single agent
      operationId: agent_show
      parameters:
      - description: ID of agent
        explode: false
        in: path
        name: agentId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/agent'
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: Get
      tags:
      - agent
    patch:
      description: Returns modified agent
      operationId: agent_update
      parameters:
      - description: ID of agent
        explode: false
        in: path
        name: agentId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/agent_update'
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/agent'
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: Update
      tags:
      - agent
  /agent/{agentId}/actions/start:
    post:
      description: Action start
      operationId: agent_action_start
      parameters:
      - description: ID of agent
        explode: false
        in: path
        name: agentId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/agent'
          description: successful operation
        202:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/agent'
          description: operation queued
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /actions/start
      tags:
      - agent
  /agent/{agentId}/actions/suspend:
    post:
      description: Action suspend
      operationId: agent_action_suspend
      parameters:
      - description: ID of agent
        explode: false
        in: path
        name: agentId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/agent'
          description: successful operation
        202:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/agent'
          description: operation queued
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /actions/suspend
      tags:
      - agent
  /agent/{agentId}/actions/transfer:
    post:
      description: Action transfer
      operationId: agent_action_transfer
      parameters:
      - description: ID of agent
        explode: false
        in: path
        name: agentId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/agent_action_transfer'
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/agent'
          description: successful operation
        202:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/agent'
          description: operation queued
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /actions/transfer
      tags:
      - agent
  /agent/{agentId}/actions/update_enabledServices:
    post:
      description: Action update_enabledServices
      operationId: agent_action_update_enabledServices
      parameters:
      - description: ID of agent
        explode: false
        in: path
        name: agentId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/agent_action_update_enabledServices'
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/agent'
          description: successful operation
        202:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/agent'
          description: operation queued
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /actions/update_enabledServices
      tags:
      - agent
  /agent/{agentId}/enabledServices:
    get:
      operationId: agent_list_enabledServices
      parameters:
      - description: ID of agent
        explode: false
        in: path
        name: agentId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  format: ObjectId
                  type: string
                type: array
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /enabledServices
      tags:
      - agent
    put:
      operationId: agent_put_enabledServices
      parameters:
      - description: ID of agent
        explode: false
        in: path
        name: agentId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/agent_put_enabledServices'
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  format: ObjectId
                  type: string
                type: array
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /enabledServices
      tags:
      - agent
  /agent/{agentId}/inspect:
    get:
      operationId: agent_get_inspect
      parameters:
      - description: ID of agent
        explode: false
        in: path
        name: agentId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema: {}
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /inspect
      tags:
      - agent
  /agent/{agentId}/resource:
    get:
      operationId: agent_list_resource
      parameters:
      - description: ID of agent
        explode: false
        in: path
        name: agentId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/agentResource'
                type: array
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /resource
      tags:
      - agent
  /agent/{agentId}/resource/{resourceId}/actions/recreate:
    post:
      operationId: agent_post_resource_resourceIdactionsrecreate
      parameters:
      - description: ID of agent
        explode: false
        in: path
        name: agentId
        required: true
        schema:
          type: string
        style: simple
      - description: resourceId
        explode: false
        in: path
        name: resourceId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/agentResource'
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /resource/:resourceId/actions/recreate
      tags:
      - agent
  /agent/{agentId}/resource/{resourceId}/inspect:
    get:
      operationId: agent_get_resource_resourceIdinspect
      parameters:
      - description: ID of agent
        explode: false
        in: path
        name: agentId
        required: true
        schema:
          type: string
        style: simple
      - description: resourceId
        explode: false
        in: path
        name: resourceId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema: {}
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /resource/:resourceId/inspect
      tags:
      - agent
  /agent/{agentId}/resource/{resourceId}/queue:
    get:
      operationId: agent_list_resource_resourceIdqueue
      parameters:
      - description: ID of agent
        explode: false
        in: path
        name: agentId
        required: true
        schema:
          type: string
        style: simple
      - description: resourceId
        explode: false
        in: path
        name: resourceId
        required: true
        schema:
          type: string
        style: simple
      - description: $limit
        explode: true
        in: query
        name: $limit
        required: false
        schema:
          type: number
        style: form
      - description: $skip
        explode: true
        in: query
        name: $skip
        required: false
        schema:
          type: number
        style: form
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/agentResourceEvent'
                type: array
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /resource/:resourceId/queue
      tags:
      - agent
  /agent/{agentId}/credential/certificate:
    get:
      operationId: agent_list_credentialcertificate
      parameters:
      - description: ID of agent
        explode: false
        in: path
        name: agentId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/credential.certificate'
                type: array
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /credential/certificate
      tags:
      - agent
    post:
      operationId: agent_post_credentialcertificate
      parameters:
      - description: ID of agent
        explode: false
        in: path
        name: agentId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/agent_post_credentialcertificate'
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/credential.certificate'
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /credential/certificate
      tags:
      - agent
  /agent/{agentId}/credential/certificate/{id}:
    delete:
      operationId: agent_delete_credentialcertificate_id
      parameters:
      - description: ID of agent
        explode: false
        in: path
        name: agentId
        required: true
        schema:
          type: string
        style: simple
      - description: id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_3'
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /credential/certificate/:id
      tags:
      - agent
    get:
      operationId: agent_get_credentialcertificate_id
      parameters:
      - description: ID of agent
        explode: false
        in: path
        name: agentId
        required: true
        schema:
          type: string
        style: simple
      - description: id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/credential.certificate'
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /credential/certificate/:id
      tags:
      - agent
    patch:
      operationId: agent_patch_credentialcertificate_id
      parameters:
      - description: ID of agent
        explode: false
        in: path
        name: agentId
        required: true
        schema:
          type: string
        style: simple
      - description: id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/agent_patch_credentialcertificate_id'
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/credential.certificate'
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /credential/certificate/:id
      tags:
      - agent
  /agent/{agentId}/credential:
    get:
      operationId: agent_list_credential
      parameters:
      - description: ID of agent
        explode: false
        in: path
        name: agentId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/credential.password'
                type: array
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /credential
      tags:
      - agent
    post:
      operationId: agent_post_credential
      parameters:
      - description: ID of agent
        explode: false
        in: path
        name: agentId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/agent_post_credential'
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/credential.password'
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /credential
      tags:
      - agent
  /agent/{agentId}/credential/{id}:
    delete:
      operationId: agent_delete_credential_id
      parameters:
      - description: ID of agent
        explode: false
        in: path
        name: agentId
        required: true
        schema:
          type: string
        style: simple
      - description: id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/agent'
          description: successful operation
        202:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/agent'
          description: operation queued
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /credential/:id
      tags:
      - agent
    get:
      operationId: agent_get_credential_id
      parameters:
      - description: ID of agent
        explode: false
        in: path
        name: agentId
        required: true
        schema:
          type: string
        style: simple
      - description: id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/credential.password'
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /credential/:id
      tags:
      - agent
    patch:
      operationId: agent_patch_credential_id
      parameters:
      - description: ID of agent
        explode: false
        in: path
        name: agentId
        required: true
        schema:
          type: string
        style: simple
      - description: id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/agent_patch_credential_id'
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/credential.password'
          description: successful operation
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        401:
          description: Access token is missing or invalid
      summary: /credential/:id
      tags:
      - agent
  /agent/{agentId}/accessrights:
    get:
      operationId: agent_list_accessrights
      parameters:
      - description: ID of agent
        explode: false
        in: path
        name: agentId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/accessrightsProject'
                type: array
          description: successful operation
[...]
