openapi: 3.0.3
info:
  contact:
    url: https://www.hyperone.com
  description: HyperOne API
  title: HyperOne
  version: 0.1.0
servers:
- description: HyperOne API
  url: https://api.hyperone.com/v2
security:
- BearerAuth: []
tags:
- name: iam_user
  x-kind: iam/user
  x-location: false
  x-parent: false
- name: billing_project_service
  x-kind: billing/service
  x-location: false
  x-parent:
  - project
- name: iam_project_policy
  x-kind: iam/policy
  x-location: false
  x-parent:
  - project
  - organisation
- name: iam_organisation_policy
  x-kind: iam/policy
  x-location: false
  x-parent:
  - project
  - organisation
- name: iam_project_group
  x-kind: iam/group
  x-location: false
  x-parent:
  - project
- name: iam_project_role
  x-kind: iam/role
  x-location: false
  x-parent:
  - project
  - organisation
- name: iam_organisation_role
  x-kind: iam/role
  x-location: false
  x-parent:
  - project
  - organisation
- name: iam_project_sa
  x-kind: iam/sa
  x-location: false
  x-parent:
  - project
- name: iam_project_application
  x-kind: iam/application
  x-location: false
  x-parent:
  - project
- name: support_project_ticket
  x-kind: support/ticket
  x-location: false
  x-parent:
  - project
- name: compute_project_vm
  x-kind: compute/vm
  x-location: true
  x-parent:
  - project
- name: compute_project_replica
  x-kind: compute/replica
  x-location: true
  x-parent:
  - project
- name: storage_project_disk
  x-kind: storage/disk
  x-location: true
  x-parent:
  - project
- name: storage_project_image
  x-kind: storage/image
  x-location: true
  x-parent:
  - project
- name: storage_project_iso
  x-kind: storage/iso
  x-location: true
  x-parent:
  - project
- name: storage_project_vault
  x-kind: storage/vault
  x-location: true
  x-parent:
  - project
- name: storage_project_bucket
  x-kind: storage/bucket
  x-location: true
  x-parent:
  - project
- name: networking_project_firewall
  x-kind: networking/firewall
  x-location: true
  x-parent:
  - project
- name: networking_project_network
  x-kind: networking/network
  x-location: true
  x-parent:
  - project
- name: networking_project_netadp
  x-kind: networking/netadp
  x-location: true
  x-parent:
  - project
- name: networking_project_netgw
  x-kind: networking/netgw
  x-location: true
  x-parent:
  - project
- name: networking_project_ip
  x-kind: networking/ip
  x-location: true
  x-parent:
  - project
- name: dns_project_zone
  x-kind: dns/zone
  x-location: true
  x-parent:
  - project
- description: Available as part of the Early Adopters program.
  name: container_project_registry
  x-kind: container/registry
  x-location: true
  x-parent:
  - project
- description: Available as part of the Early Adopters program.
  name: insight_project_journal
  x-kind: insight/journal
  x-location: true
  x-parent:
  - project
- name: vmhost_project_instance
  x-kind: vmhost/instance
  x-location: true
  x-parent:
  - project
- description: Available as part of the Early Adopters program.
  name: provider_project_agent
  x-kind: provider/agent
  x-location: true
  x-parent:
  - project
- name: iam_organisation
  x-kind: iam/organisation
  x-location: false
  x-parent: false
- name: iam_project
  x-kind: iam/project
  x-location: false
  x-parent: false
- name: search_resource
  x-kind: search/resource
  x-location: false
  x-parent: false
paths:
  /billing/project/{projectId}/service:
    get:
      description: List service
      operationId: billing_project_service_list
      parameters:
      - description: Project Id
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: Filter by kind
        explode: true
        in: query
        name: kind
        required: false
        schema:
          pattern: ^[a-z]+\/[a-z]+$
          type: string
        style: form
      - description: Filter by name
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: Filter by type
        explode: true
        in: query
        name: type
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/service'
                title: Service collection
                type: array
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: List billing/service
      tags:
      - billing_project_service
      x-permissions:
      - billing/service/list
  /billing/project/{projectId}/service/{serviceId}:
    get:
      description: Returns a single service
      operationId: billing_project_service_get
      parameters:
      - description: Project Id
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: Service Id
        explode: false
        in: path
        name: serviceId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service'
          description: successful operation
          links:
            agent:
              operationId: provider_project_agent_list
              parameters:
                enabledServices: $request.path.serviceId
            policy:
              operationId: iam_project_policy_list
              parameters:
                resource: $uri
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: Get billing/service
      tags:
      - billing_project_service
      x-permissions:
      - billing/service/get
  /compute/{locationId}/project/{projectId}/replica:
    get:
      description: List replica
      operationId: compute_project_replica_list
      parameters:
      - description: Project Id
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: Location Id
        explode: false
        in: path
        name: locationId
        required: true
        schema:
          type: string
        style: simple
      - description: Filter by name
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/replica'
                title: Replica collection
                type: array
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: List compute/replica
      tags:
      - compute_project_replica
      x-permissions:
      - compute/replica/list
    post:
      description: Create replica
      operationId: compute_project_replica_create
      parameters:
      - description: Project Id
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: Location Id
        explode: false
        in: path
        name: locationId
        required: true
        schema:
          type: string
        style: simple
      - description: Idempotency key
        explode: false
        in: header
        name: x-idempotency-key
        required: false
        schema:
          type: string
        style: simple
      - description: Dry run
        explode: false
        in: header
        name: x-dry-run
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/compute_project_replica_create'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/replica'
          description: successful operation
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/replica'
          description: operation queued
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: Create compute/replica
      tags:
      - compute_project_replica
      x-audience: developer
      x-permissions:
      - compute/replica/create
  /compute/{locationId}/project/{projectId}/replica/{replicaId}:
    delete:
      description: Delete replica
      operationId: compute_project_replica_delete
      parameters:
      - description: Project Id
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: Location Id
        explode: false
        in: path
        name: locationId
        required: true
        schema:
          type: string
        style: simple
      - description: Replica Id
        explode: false
        in: path
        name: replicaId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: Delete compute/replica
      tags:
      - compute_project_replica
      x-permissions:
      - compute/replica/delete
      x-state:
      - Disabled
    get:
      description: Returns a single replica
      operationId: compute_project_replica_get
      parameters:
      - description: Project Id
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: Location Id
        explode: false
        in: path
        name: locationId
        required: true
        schema:
          type: string
        style: simple
      - description: Replica Id
        explode: false
        in: path
        name: replicaId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/replica'
          description: successful operation
          links:
            policy:
              operationId: iam_project_policy_list
              parameters:
                resource: $uri
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: Get compute/replica
      tags:
      - compute_project_replica
      x-permissions:
      - compute/replica/get
  /compute/{locationId}/project/{projectId}/replica/{replicaId}/disk:
    get:
      description: List compute/replica.disk
      operationId: compute_project_replica_disk_list
      parameters:
      - description: Project Id
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: Location Id
        explode: false
        in: path
        name: locationId
        required: true
        schema:
          type: string
        style: simple
      - description: Replica Id
        explode: false
        in: path
        name: replicaId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/disk'
                title: Disk collection
                type: array
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: List compute/replica.disk
      tags:
      - compute_project_replica
      x-permissions:
      - storage/disk/list
  /compute/{locationId}/project/{projectId}/replica/{replicaId}/event:
    get:
      description: List compute/replica.event
      operationId: compute_project_replica_event_list
      parameters:
      - description: Project Id
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: Location Id
        explode: false
        in: path
        name: locationId
        required: true
        schema:
          type: string
        style: simple
      - description: Replica Id
        explode: false
        in: path
        name: replicaId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: $limit
        explode: true
        in: query
        name: $limit
        required: false
        schema:
          default: 100
          maximum: 1000
          minimum: 1
          type: number
        style: form
      - description: $skip
        explode: true
        in: query
        name: $skip
        required: false
        schema:
          type: number
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/event'
                title: Event collection
                type: array
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: List compute/replica.event
      tags:
      - compute_project_replica
      x-permissions:
      - compute/replica.event/list
  /compute/{locationId}/project/{projectId}/replica/{replicaId}/event/{eventId}:
    get:
      description: Get compute/replica.event
      operationId: compute_project_replica_event_get
      parameters:
      - description: Project Id
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: Location Id
        explode: false
        in: path
        name: locationId
        required: true
        schema:
          type: string
        style: simple
      - description: Replica Id
        explode: false
        in: path
        name: replicaId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: eventId
        explode: false
        in: path
        name: eventId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/event'
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: Get compute/replica.event
      tags:
      - compute_project_replica
      x-permissions:
      - compute/replica.event/get
  /compute/{locationId}/project/{projectId}/replica/{replicaId}/service:
    get:
      description: List compute/replica.service
      operationId: compute_project_replica_service_list
      parameters:
      - description: Project Id
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: Location Id
        explode: false
        in: path
        name: locationId
        required: true
        schema:
          type: string
        style: simple
      - description: Replica Id
        explode: false
        in: path
        name: replicaId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/resourceService'
                title: ResourceService collection
                type: array
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: List compute/replica.service
      tags:
      - compute_project_replica
      x-permissions:
      - compute/replica.service/list
  /compute/{locationId}/project/{projectId}/replica/{replicaId}/service/{serviceId}:
    get:
      description: Get compute/replica.service
      operationId: compute_project_replica_service_get
      parameters:
      - description: Project Id
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: Location Id
        explode: false
        in: path
        name: locationId
        required: true
        schema:
          type: string
        style: simple
      - description: Replica Id
        explode: false
        in: path
        name: replicaId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: serviceId
        explode: false
        in: path
        name: serviceId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/resourceService'
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: Get compute/replica.service
      tags:
      - compute_project_replica
      x-permissions:
      - compute/replica.service/get
  /compute/{locationId}/project/{projectId}/replica/{replicaId}/tag:
    get:
      description: List compute/replica.tag
      operationId: compute_project_replica_tag_list
      parameters:
      - description: Project Id
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: Location Id
        explode: false
        in: path
        name: locationId
        required: true
        schema:
          type: string
        style: simple
      - description: Replica Id
        explode: false
        in: path
        name: replicaId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/tag'
                title: Tag collection
                type: array
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: List compute/replica.tag
      tags:
      - compute_project_replica
      x-permissions:
      - compute/replica.tag/list
    post:
      description: Create compute/replica.tag
      operationId: compute_project_replica_tag_create
      parameters:
      - description: Project Id
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: Location Id
        explode: false
        in: path
        name: locationId
        required: true
        schema:
          type: string
        style: simple
      - description: Replica Id
        explode: false
        in: path
        name: replicaId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/tag'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tag'
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: Create compute/replica.tag
      tags:
      - compute_project_replica
      x-permissions:
      - compute/replica.tag/create
    put:
      description: Replace compute/replica.tag
      operationId: compute_project_replica_tag_put
      parameters:
      - description: Project Id
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: Location Id
        explode: false
        in: path
        name: locationId
        required: true
        schema:
          type: string
        style: simple
      - description: Replica Id
        explode: false
        in: path
        name: replicaId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/tag_array'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/tag'
                title: Tag collection
                type: array
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: Replace compute/replica.tag
      tags:
      - compute_project_replica
      x-permissions:
      - compute/replica.tag/create
      - compute/replica.tag/delete
  /compute/{locationId}/project/{projectId}/replica/{replicaId}/tag/{tagId}:
    delete:
      description: Delete compute/replica.tag
      operationId: compute_project_replica_tag_delete
      parameters:
      - description: Project Id
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: Location Id
        explode: false
        in: path
        name: locationId
        required: true
        schema:
          type: string
        style: simple
      - description: Replica Id
        explode: false
        in: path
        name: replicaId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: tagId
        explode: false
        in: path
        name: tagId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: Delete compute/replica.tag
      tags:
      - compute_project_replica
      x-permissions:
      - compute/replica.tag/delete
    get:
      description: Get compute/replica.tag
      operationId: compute_project_replica_tag_get
      parameters:
      - description: Project Id
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: Location Id
        explode: false
        in: path
        name: locationId
        required: true
        schema:
          type: string
        style: simple
      - description: Replica Id
        explode: false
        in: path
        name: replicaId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: tagId
        explode: false
        in: path
        name: tagId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tag'
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: Get compute/replica.tag
      tags:
      - compute_project_replica
      x-permissions:
      - compute/replica.tag/get
  /compute/{locationId}/project/{projectId}/vm:
    get:
      description: List vm
      operationId: compute_project_vm_list
      parameters:
      - description: Project Id
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: Location Id
        explode: false
        in: path
        name: locationId
        required: true
        schema:
          type: string
        style: simple
      - description: Filter by name
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: Filter by tag.value
        explode: true
        in: query
        name: tag.value
        required: false
        schema:
          type: string
        style: form
      - description: Filter by tag.key
        explode: true
        in: query
        name: tag.key
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/vm'
                title: Vm collection
                type: array
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: List compute/vm
      tags:
      - compute_project_vm
      x-examples:
        $ref: ./docs/compute_project_vm_list/index.json
      x-permissions:
      - compute/vm/list
    post:
      description: Create vm
      operationId: compute_project_vm_create
      parameters:
      - description: Project Id
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: Location Id
        explode: false
        in: path
        name: locationId
        required: true
        schema:
          type: string
        style: simple
      - description: Idempotency key
        explode: false
        in: header
        name: x-idempotency-key
        required: false
        schema:
          type: string
        style: simple
      - description: Dry run
        explode: false
        in: header
        name: x-dry-run
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/compute_project_vm_create'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/vm'
          description: successful operation
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/vm'
          description: operation queued
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: Create compute/vm
      tags:
      - compute_project_vm
      x-examples:
        $ref: ./docs/compute_project_vm_create/index.json
      x-permissions:
      - compute/vm/create
  /compute/{locationId}/project/{projectId}/vm/{vmId}:
    delete:
      description: Delete vm
      operationId: compute_project_vm_delete
      parameters:
      - description: Project Id
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: Location Id
        explode: false
        in: path
        name: locationId
        required: true
        schema:
          type: string
        style: simple
      - description: Vm Id
        explode: false
        in: path
        name: vmId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: Delete compute/vm
      tags:
      - compute_project_vm
      x-examples:
        $ref: ./docs/compute_project_vm_delete/index.json
      x-permissions:
      - compute/vm/delete
      x-state:
      - Running
      - "Off"
    get:
      description: Returns a single vm
      operationId: compute_project_vm_get
      parameters:
      - description: Project Id
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: Location Id
        explode: false
        in: path
        name: locationId
        required: true
        schema:
          type: string
        style: simple
      - description: Vm Id
        explode: false
        in: path
        name: vmId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/vm'
          description: successful operation
          links:
            link:
              operationId: v1:platform:link:list
              parameters:
                resource: $uri
            netadp:
              operationId: networking_project_netadp_list
              parameters:
                assigned.id: $request.path.vmId
            policy:
              operationId: iam_project_policy_list
              parameters:
                resource: $uri
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: Get compute/vm
      tags:
      - compute_project_vm
      x-examples:
        $ref: ./docs/compute_project_vm_get/index.json
      x-permissions:
      - compute/vm/get
    patch:
      description: Returns modified vm
      operationId: compute_project_vm_update
      parameters:
      - description: Project Id
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: Location Id
        explode: false
        in: path
        name: locationId
        required: true
        schema:
          type: string
        style: simple
      - description: Vm Id
        explode: false
        in: path
        name: vmId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/compute_project_vm_update'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/vm'
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: Update compute/vm
      tags:
      - compute_project_vm
      x-examples:
        $ref: ./docs/compute_project_vm_update/index.json
      x-state:
      - Running
      - "Off"
  /compute/{locationId}/project/{projectId}/vm/{vmId}/actions/flavour:
    post:
      description: action flavour
      operationId: compute_project_vm_flavour
      parameters:
      - description: Project Id
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: Location Id
        explode: false
        in: path
        name: locationId
        required: true
        schema:
          type: string
        style: simple
      - description: Vm Id
        explode: false
        in: path
        name: vmId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: Idempotency key
        explode: false
        in: header
        name: x-idempotency-key
        required: false
        schema:
          type: string
        style: simple
      - description: Dry run
        explode: false
        in: header
        name: x-dry-run
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/compute_project_vm_flavour'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/vm'
          description: successful operation
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/vm'
          description: operation queued
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: Flavour compute/vm
      tags:
      - compute_project_vm
      x-permissions:
      - compute/vm/flavour
      x-state:
      - "Off"
  /compute/{locationId}/project/{projectId}/vm/{vmId}/actions/password_reset:
    post:
      description: action password_reset
      operationId: compute_project_vm_password_reset
      parameters:
      - description: Project Id
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: Location Id
        explode: false
        in: path
        name: locationId
        required: true
        schema:
          type: string
        style: simple
      - description: Vm Id
        explode: false
        in: path
        name: vmId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: Idempotency key
        explode: false
        in: header
        name: x-idempotency-key
        required: false
        schema:
          type: string
        style: simple
      - description: Dry run
        explode: false
        in: header
        name: x-dry-run
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/compute_project_vm_password_reset'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/vm'
          description: successful operation
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/vm'
          description: operation queued
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: Password reset compute/vm
      tags:
      - compute_project_vm
      x-permissions:
      - compute/vm/passwordReset
      x-state:
      - Running
  /compute/{locationId}/project/{projectId}/vm/{vmId}/actions/restart:
    post:
      description: action restart
      operationId: compute_project_vm_restart
      parameters:
      - description: Project Id
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: Location Id
        explode: false
        in: path
        name: locationId
        required: true
        schema:
          type: string
        style: simple
      - description: Vm Id
        explode: false
        in: path
        name: vmId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: Idempotency key
        explode: false
        in: header
        name: x-idempotency-key
        required: false
        schema:
          type: string
        style: simple
      - description: Dry run
        explode: false
        in: header
        name: x-dry-run
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/vm'
          description: successful operation
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/vm'
          description: operation queued
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: Restart compute/vm
      tags:
      - compute_project_vm
      x-examples:
        $ref: ./docs/compute_project_vm_restart/index.json
      x-permissions:
      - compute/vm/restart
      x-state:
      - Running
  /compute/{locationId}/project/{projectId}/vm/{vmId}/actions/serialport:
    post:
      description: action serialport
      operationId: compute_project_vm_serialport
      parameters:
      - description: Project Id
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: Location Id
        explode: false
        in: path
        name: locationId
        required: true
        schema:
          type: string
        style: simple
      - description: Vm Id
        explode: false
        in: path
        name: vmId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: Idempotency key
        explode: false
        in: header
        name: x-idempotency-key
        required: false
        schema:
          type: string
        style: simple
      - description: Dry run
        explode: false
        in: header
        name: x-dry-run
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/compute_project_vm_serialport'
        required: true
      responses:
        "200":
          content:
            text/plain:
              schema:
                format: binary
                type: string
          description: serial port buffer
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: Serialport compute/vm
      tags:
      - compute_project_vm
      x-examples:
        $ref: ./docs/compute_project_vm_serialport/index.json
      x-permissions:
      - compute/vm.serialport/read
      x-state:
      - Running
  /compute/{locationId}/project/{projectId}/vm/{vmId}/actions/start:
    post:
      description: action start
      operationId: compute_project_vm_start
      parameters:
      - description: Project Id
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: Location Id
        explode: false
        in: path
        name: locationId
        required: true
        schema:
          type: string
        style: simple
      - description: Vm Id
        explode: false
        in: path
        name: vmId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: Idempotency key
        explode: false
        in: header
        name: x-idempotency-key
        required: false
        schema:
          type: string
        style: simple
      - description: Dry run
        explode: false
        in: header
        name: x-dry-run
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/vm'
          description: successful operation
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/vm'
          description: operation queued
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: Start compute/vm
      tags:
      - compute_project_vm
      x-examples:
        $ref: ./docs/compute_project_vm_start/index.json
      x-permissions:
      - compute/vm/start
      x-state:
      - "Off"
  /compute/{locationId}/project/{projectId}/vm/{vmId}/actions/stop:
    post:
      description: action stop
      operationId: compute_project_vm_stop
      parameters:
      - description: Project Id
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: Location Id
        explode: false
        in: path
        name: locationId
        required: true
        schema:
          type: string
        style: simple
      - description: Vm Id
        explode: false
        in: path
        name: vmId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: Idempotency key
        explode: false
        in: header
        name: x-idempotency-key
        required: false
        schema:
          type: string
        style: simple
      - description: Dry run
        explode: false
        in: header
        name: x-dry-run
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/vm'
          description: successful operation
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/vm'
          description: operation queued
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: Stop compute/vm
      tags:
      - compute_project_vm
      x-examples:
        $ref: ./docs/compute_project_vm_stop/index.json
      x-permissions:
      - compute/vm/stop
      x-state:
      - Running
  /compute/{locationId}/project/{projectId}/vm/{vmId}/actions/turnoff:
    post:
      description: action turnoff
      operationId: compute_project_vm_turnoff
      parameters:
      - description: Project Id
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: Location Id
        explode: false
        in: path
        name: locationId
        required: true
        schema:
          type: string
        style: simple
      - description: Vm Id
        explode: false
        in: path
        name: vmId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: Idempotency key
        explode: false
        in: header
        name: x-idempotency-key
        required: false
        schema:
          type: string
        style: simple
      - description: Dry run
        explode: false
        in: header
        name: x-dry-run
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/vm'
          description: successful operation
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/vm'
          description: operation queued
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: Turnoff compute/vm
      tags:
      - compute_project_vm
      x-examples:
        $ref: ./docs/compute_project_vm_turnoff/index.json
      x-permissions:
      - compute/vm/turnoff
      x-state:
      - Running
  /compute/{locationId}/project/{projectId}/vm/{vmId}/connect:
    get:
      description: List compute/vm.connect
      operationId: compute_project_vm_connect_list
      parameters:
      - description: Project Id
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: Location Id
        explode: false
        in: path
        name: locationId
        required: true
        schema:
          type: string
        style: simple
      - description: Vm Id
        explode: false
        in: path
        name: vmId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/connect'
                title: Connect collection
                type: array
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: List compute/vm.connect
      tags:
      - compute_project_vm
      x-examples:
        $ref: ./docs/compute_project_vm_connect_list/index.json
      x-permissions:
      - compute/vm.connect/list
      x-state:
      - Running
      - "Off"
  /compute/{locationId}/project/{projectId}/vm/{vmId}/connect/{connectId}:
    get:
      description: Get compute/vm.connect
      operationId: compute_project_vm_connect_get
      parameters:
      - description: Project Id
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: Location Id
        explode: false
        in: path
        name: locationId
        required: true
        schema:
          type: string
        style: simple
      - description: Vm Id
        explode: false
        in: path
        name: vmId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: connectId
        explode: false
        in: path
        name: connectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect'
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: Get compute/vm.connect
      tags:
      - compute_project_vm
      x-examples:
        $ref: ./docs/compute_project_vm_connect_get/index.json
      x-permissions:
      - compute/vm.connect/get
      x-state:
      - Running
      - "Off"
  /compute/{locationId}/project/{projectId}/vm/{vmId}/connect/{connectId}/actions/open:
    post:
      description: action open
      operationId: compute_project_vm_connect_open
      parameters:
      - description: Project Id
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: Location Id
        explode: false
        in: path
        name: locationId
        required: true
        schema:
          type: string
        style: simple
      - description: Vm Id
        explode: false
        in: path
        name: vmId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: connectId
        explode: false
        in: path
        name: connectId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/compute_project_vm_connect_open'
        required: true
      responses:
        "201":
          description: Console request accepted
          headers:
            location:
              description: Absolute URL
              explode: false
              schema:
                format: uri
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: Open compute/vm.connect
      tags:
      - compute_project_vm
      x-audience: developer
      x-examples:
        $ref: ./docs/compute_project_vm_connect_open/index.json
      x-permissions:
      - compute/vm/use
      x-state:
      - Running
  /compute/{locationId}/project/{projectId}/vm/{vmId}/disk:
    get:
      description: List compute/vm.disk
      operationId: compute_project_vm_disk_list
      parameters:
      - description: Project Id
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: Location Id
        explode: false
        in: path
        name: locationId
        required: true
        schema:
          type: string
        style: simple
      - description: Vm Id
        explode: false
        in: path
        name: vmId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/disk'
                title: Disk collection
                type: array
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: List compute/vm.disk
      tags:
      - compute_project_vm
      x-permissions:
      - storage/disk/list
    post:
      description: Create compute/vm.disk
      operationId: compute_project_vm_disk_create
      parameters:
      - description: Project Id
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: Location Id
        explode: false
        in: path
        name: locationId
        required: true
        schema:
          type: string
        style: simple
      - description: Vm Id
        explode: false
        in: path
        name: vmId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/compute_project_vm_disk_create'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/disk'
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: Create compute/vm.disk
      tags:
      - compute_project_vm
      x-permissions:
      - compute/vm/use
      x-state:
      - Running
      - "Off"
  /compute/{locationId}/project/{projectId}/vm/{vmId}/event:
    get:
      description: List compute/vm.event
      operationId: compute_project_vm_event_list
      parameters:
      - description: Project Id
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: Location Id
        explode: false
        in: path
        name: locationId
        required: true
        schema:
          type: string
        style: simple
      - description: Vm Id
        explode: false
        in: path
        name: vmId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: $limit
        explode: true
        in: query
        name: $limit
        required: false
        schema:
          default: 100
          maximum: 1000
          minimum: 1
          type: number
        style: form
      - description: $skip
        explode: true
        in: query
        name: $skip
        required: false
        schema:
          type: number
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/event'
                title: Event collection
                type: array
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: List compute/vm.event
      tags:
      - compute_project_vm
      x-examples:
        $ref: ./docs/compute_project_vm_event_list/index.json
      x-permissions:
      - compute/vm.event/list
  /compute/{locationId}/project/{projectId}/vm/{vmId}/event/{eventId}:
    get:
      description: Get compute/vm.event
      operationId: compute_project_vm_event_get
      parameters:
      - description: Project Id
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: Location Id
        explode: false
        in: path
        name: locationId
        required: true
        schema:
          type: string
        style: simple
      - description: Vm Id
        explode: false
        in: path
        name: vmId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: eventId
        explode: false
        in: path
        name: eventId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/event'
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: Get compute/vm.event
      tags:
      - compute_project_vm
      x-examples:
        $ref: ./docs/compute_project_vm_event_get/index.json
      x-permissions:
      - compute/vm.event/get
  /compute/{locationId}/project/{projectId}/vm/{vmId}/iso:
    get:
      description: List compute/vm.iso
      operationId: compute_project_vm_iso_list
      parameters:
      - description: Project Id
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: Location Id
        explode: false
        in: path
        name: locationId
        required: true
        schema:
          type: string
        style: simple
      - description: Vm Id
        explode: false
        in: path
        name: vmId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/iso'
                title: Iso collection
                type: array
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: List compute/vm.iso
      tags:
      - compute_project_vm
      x-permissions:
      - storage/iso/list
    post:
      description: Create compute/vm.iso
      operationId: compute_project_vm_iso_create
      parameters:
      - description: Project Id
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: Location Id
        explode: false
        in: path
        name: locationId
        required: true
        schema:
          type: string
        style: simple
      - description: Vm Id
        explode: false
        in: path
        name: vmId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/compute_project_vm_iso_create'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iso'
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: Create compute/vm.iso
      tags:
      - compute_project_vm
      x-examples:
        $ref: ./docs/compute_project_vm_iso_create/index.json
      x-permissions:
      - compute/vm/use
      x-state:
      - Running
      - "Off"
  /compute/{locationId}/project/{projectId}/vm/{vmId}/metric:
    get:
      description: List compute/vm.metric
      operationId: compute_project_vm_metric_list
      parameters:
      - description: Project Id
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: Location Id
        explode: false
        in: path
        name: locationId
        required: true
        schema:
          type: string
        style: simple
      - description: Vm Id
        explode: false
        in: path
        name: vmId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/metric'
                title: Metric collection
                type: array
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: List compute/vm.metric
      tags:
      - compute_project_vm
      x-permissions:
      - compute/vm.metric/list
  /compute/{locationId}/project/{projectId}/vm/{vmId}/metric/{metricId}:
    get:
      description: Get compute/vm.metric
      operationId: compute_project_vm_metric_get
      parameters:
      - description: Project Id
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: Location Id
        explode: false
        in: path
        name: locationId
        required: true
        schema:
          type: string
        style: simple
      - description: Vm Id
        explode: false
        in: path
        name: vmId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: metricId
        explode: false
        in: path
        name: metricId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/metric'
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: Get compute/vm.metric
      tags:
      - compute_project_vm
      x-permissions:
      - compute/vm.metric/get
  /compute/{locationId}/project/{projectId}/vm/{vmId}/metric/{metricId}/series:
    get:
      description: List compute/vm.series
      operationId: compute_project_vm_metric_series_list
      parameters:
      - description: Project Id
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: Location Id
        explode: false
        in: path
        name: locationId
        required: true
        schema:
          type: string
        style: simple
      - description: Vm Id
        explode: false
        in: path
        name: vmId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: metricId
        explode: false
        in: path
        name: metricId
        required: true
        schema:
          type: string
        style: simple
      - description: interval
        explode: true
        in: query
        name: interval
        required: false
        schema:
          type: string
        style: form
      - description: timespan
        explode: true
        in: query
        name: timespan
        required: false
        schema:
          type: string
        style: form
      - description: aligner
        explode: true
        in: query
        name: aligner
        required: false
        schema:
          enum:
          - min
          - max
          - mean
          - sum
          - count
          - last
          - rate
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/point'
                title: Point collection
                type: array
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: List compute/vm.series
      tags:
      - compute_project_vm
      x-permissions:
      - compute/vm.series/list
  /compute/{locationId}/project/{projectId}/vm/{vmId}/service:
    get:
      description: List compute/vm.service
      operationId: compute_project_vm_service_list
      parameters:
      - description: Project Id
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: Location Id
        explode: false
        in: path
        name: locationId
        required: true
        schema:
          type: string
        style: simple
      - description: Vm Id
        explode: false
        in: path
        name: vmId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/resourceService'
                title: ResourceService collection
                type: array
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: List compute/vm.service
      tags:
      - compute_project_vm
      x-examples:
        $ref: ./docs/compute_project_vm_service_list/index.json
      x-permissions:
      - compute/vm.service/list
  /compute/{locationId}/project/{projectId}/vm/{vmId}/service/{serviceId}:
    get:
      description: Get compute/vm.service
      operationId: compute_project_vm_service_get
      parameters:
      - description: Project Id
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: Location Id
        explode: false
        in: path
        name: locationId
        required: true
        schema:
          type: string
        style: simple
      - description: Vm Id
        explode: false
        in: path
        name: vmId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: serviceId
        explode: false
        in: path
        name: serviceId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/resourceService'
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: Get compute/vm.service
      tags:
      - compute_project_vm
      x-examples:
        $ref: ./docs/compute_project_vm_service_get/index.json
      x-permissions:
      - compute/vm.service/get
  /compute/{locationId}/project/{projectId}/vm/{vmId}/tag:
    get:
      description: List compute/vm.tag
      operationId: compute_project_vm_tag_list
      parameters:
      - description: Project Id
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: Location Id
        explode: false
        in: path
        name: locationId
        required: true
        schema:
          type: string
        style: simple
      - description: Vm Id
        explode: false
        in: path
        name: vmId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/tag'
                title: Tag collection
                type: array
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: List compute/vm.tag
      tags:
      - compute_project_vm
      x-examples:
        $ref: ./docs/compute_project_vm_tag_list/index.json
      x-permissions:
      - compute/vm.tag/list
    post:
      description: Create compute/vm.tag
      operationId: compute_project_vm_tag_create
      parameters:
      - description: Project Id
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: Location Id
        explode: false
        in: path
        name: locationId
        required: true
        schema:
          type: string
        style: simple
      - description: Vm Id
        explode: false
        in: path
        name: vmId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/tag'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tag'
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: Create compute/vm.tag
      tags:
      - compute_project_vm
      x-examples:
        $ref: ./docs/compute_project_vm_tag_create/index.json
      x-permissions:
      - compute/vm.tag/create
    put:
      description: Replace compute/vm.tag
      operationId: compute_project_vm_tag_put
      parameters:
      - description: Project Id
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: Location Id
        explode: false
        in: path
        name: locationId
        required: true
        schema:
          type: string
        style: simple
      - description: Vm Id
        explode: false
        in: path
        name: vmId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/tag_array'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/tag'
                title: Tag collection
                type: array
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: Replace compute/vm.tag
      tags:
      - compute_project_vm
      x-permissions:
      - compute/vm.tag/create
      - compute/vm.tag/delete
  /compute/{locationId}/project/{projectId}/vm/{vmId}/tag/{tagId}:
    delete:
      description: Delete compute/vm.tag
      operationId: compute_project_vm_tag_delete
      parameters:
      - description: Project Id
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: Location Id
        explode: false
        in: path
        name: locationId
        required: true
        schema:
          type: string
        style: simple
      - description: Vm Id
        explode: false
        in: path
        name: vmId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: tagId
        explode: false
        in: path
        name: tagId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: Delete compute/vm.tag
      tags:
      - compute_project_vm
      x-examples:
        $ref: ./docs/compute_project_vm_tag_delete/index.json
      x-permissions:
      - compute/vm.tag/delete
    get:
      description: Get compute/vm.tag
      operationId: compute_project_vm_tag_get
      parameters:
      - description: Project Id
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: Location Id
        explode: false
        in: path
        name: locationId
        required: true
        schema:
          type: string
        style: simple
      - description: Vm Id
        explode: false
        in: path
        name: vmId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: tagId
        explode: false
        in: path
        name: tagId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tag'
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: Get compute/vm.tag
      tags:
      - compute_project_vm
      x-examples:
        $ref: ./docs/compute_project_vm_tag_get/index.json
      x-permissions:
      - compute/vm.tag/get
  /container/{locationId}/project/{projectId}/registry:
    get:
      description: List registry
      operationId: container_project_registry_list
      parameters:
      - description: Project Id
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: Location Id
        explode: false
        in: path
        name: locationId
        required: true
        schema:
          type: string
        style: simple
      - description: Filter by name
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: Filter by tag.value
        explode: true
        in: query
        name: tag.value
        required: false
        schema:
          type: string
        style: form
      - description: Filter by tag.key
        explode: true
        in: query
        name: tag.key
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/registry'
                title: Registry collection
                type: array
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: List container/registry
      tags:
      - container_project_registry
      x-examples:
        $ref: ./docs/container_project_registry_list/index.json
      x-permissions:
      - container/registry/list
    post:
      description: Create registry
      operationId: container_project_registry_create
      parameters:
      - description: Project Id
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: Location Id
        explode: false
        in: path
        name: locationId
        required: true
        schema:
          type: string
        style: simple
      - description: Idempotency key
        explode: false
        in: header
        name: x-idempotency-key
        required: false
        schema:
          type: string
        style: simple
      - description: Dry run
        explode: false
        in: header
        name: x-dry-run
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/container_project_registry_create'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/registry'
          description: successful operation
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/registry'
          description: operation queued
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: Create container/registry
      tags:
      - container_project_registry
      x-examples:
        $ref: ./docs/container_project_registry_create/index.json
      x-permissions:
      - container/registry/create
  /container/{locationId}/project/{projectId}/registry/{registryId}:
    delete:
      description: Delete registry
      operationId: container_project_registry_delete
      parameters:
      - description: Project Id
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: Location Id
        explode: false
        in: path
        name: locationId
        required: true
        schema:
          type: string
        style: simple
      - description: Registry Id
        explode: false
        in: path
        name: registryId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: Delete container/registry
      tags:
      - container_project_registry
      x-examples:
        $ref: ./docs/container_project_registry_delete/index.json
      x-permissions:
      - container/registry/delete
      x-state:
      - Running
      - "Off"
    get:
      description: Returns a single registry
      operationId: container_project_registry_get
      parameters:
      - description: Project Id
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: Location Id
        explode: false
        in: path
        name: locationId
        required: true
        schema:
          type: string
        style: simple
      - description: Registry Id
        explode: false
        in: path
        name: registryId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/registry'
          description: successful operation
          links:
            policy:
              operationId: iam_project_policy_list
              parameters:
                resource: $uri
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: Get container/registry
      tags:
      - container_project_registry
      x-examples:
        $ref: ./docs/container_project_registry_get/index.json
      x-permissions:
      - container/registry/get
    patch:
      description: Returns modified registry
      operationId: container_project_registry_update
      parameters:
      - description: Project Id
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: Location Id
        explode: false
        in: path
        name: locationId
        required: true
        schema:
          type: string
        style: simple
      - description: Registry Id
        explode: false
        in: path
        name: registryId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/container_project_registry_update'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/registry'
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: Update container/registry
      tags:
      - container_project_registry
      x-examples:
        $ref: ./docs/container_project_registry_update/index.json
      x-state:
      - Running
      - "Off"
  /container/{locationId}/project/{projectId}/registry/{registryId}/actions/start:
    post:
      description: action start
      operationId: container_project_registry_start
      parameters:
      - description: Project Id
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: Location Id
        explode: false
        in: path
        name: locationId
        required: true
        schema:
          type: string
        style: simple
      - description: Registry Id
        explode: false
        in: path
        name: registryId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: Idempotency key
        explode: false
        in: header
        name: x-idempotency-key
        required: false
        schema:
          type: string
        style: simple
      - description: Dry run
        explode: false
        in: header
        name: x-dry-run
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/registry'
          description: successful operation
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/registry'
          description: operation queued
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: Start container/registry
      tags:
      - container_project_registry
      x-examples:
        $ref: ./docs/container_project_registry_start/index.json
      x-permissions:
      - container/registry/start
      x-state:
      - "Off"
  /container/{locationId}/project/{projectId}/registry/{registryId}/actions/stop:
    post:
      description: action stop
      operationId: container_project_registry_stop
      parameters:
      - description: Project Id
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: Location Id
        explode: false
        in: path
        name: locationId
        required: true
        schema:
          type: string
        style: simple
      - description: Registry Id
        explode: false
        in: path
        name: registryId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: Idempotency key
        explode: false
        in: header
        name: x-idempotency-key
        required: false
        schema:
          type: string
        style: simple
      - description: Dry run
        explode: false
        in: header
        name: x-dry-run
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/registry'
          description: successful operation
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/registry'
          description: operation queued
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: Stop container/registry
      tags:
      - container_project_registry
      x-examples:
        $ref: ./docs/container_project_registry_stop/index.json
      x-permissions:
      - container/registry/stop
      x-state:
      - Running
  /container/{locationId}/project/{projectId}/registry/{registryId}/actions/transfer:
    post:
      description: action transfer
      operationId: container_project_registry_transfer
      parameters:
      - description: Project Id
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: Location Id
        explode: false
        in: path
        name: locationId
        required: true
        schema:
          type: string
        style: simple
      - description: Registry Id
        explode: false
        in: path
        name: registryId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: Idempotency key
        explode: false
        in: header
        name: x-idempotency-key
        required: false
        schema:
          type: string
        style: simple
      - description: Dry run
        explode: false
        in: header
        name: x-dry-run
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/container_project_registry_transfer'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/registry'
          description: successful operation
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/registry'
          description: operation queued
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: Transfer container/registry
      tags:
      - container_project_registry
      x-permissions:
      - container/registry/transfer
      x-state:
      - Running
      - "Off"
  /container/{locationId}/project/{projectId}/registry/{registryId}/credential:
    get:
      description: List container/registry.credential
      operationId: container_project_registry_credential_list
      parameters:
      - description: Project Id
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: Location Id
        explode: false
        in: path
        name: locationId
        required: true
        schema:
          type: string
        style: simple
      - description: Registry Id
        explode: false
        in: path
        name: registryId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/registry.credential'
                title: Registry.credential collection
                type: array
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: List container/registry.credential
      tags:
      - container_project_registry
      x-examples:
        $ref: ./docs/container_project_registry_credential_list/index.json
      x-permissions:
      - container/registry.credential/list
    post:
      description: Create container/registry.credential
      operationId: container_project_registry_credential_create
      parameters:
      - description: Project Id
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: Location Id
        explode: false
        in: path
        name: locationId
        required: true
        schema:
          type: string
        style: simple
      - description: Registry Id
        explode: false
        in: path
        name: registryId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/registry.credential'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/registry.credential'
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
          description: Bad Request
        "401":
          description: Access token is missing or invalid
      summary: Create container/registry.credential
      tags:
      - container_project_registry
      x-examples:
        $ref: ./docs/container_project_registry_credential_create/index.json
      x-permissions:
      - container/registry.credential/create
  /container/{locationId}/project/{projectId}/registry/{registryId}/credential/{credentialId}:
    delete:
      description: Delete container/registry.credential
      operationId: container_project_registry_credential_delete
      parameters:
      - description: Project Id
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: Location Id
        explode: false
        in: path
        name: locationId
        required: true
        schema:
          type: string
        style: simple
      - description: Registry Id
        explode: false
        in: path
        name: registryId
        required: true
        schema:
          format: ObjectId
          type: string
        style: simple
      - description: credentialId
        explode: false
        in: path
        name: credentialId
        required: true
[...]
