openapi: 3.0.0
info:
  title: HyperOne API
  version: 0.0.2
servers:
- description: HyperOne API
  url: https://api.hyperone.com/v1
security:
- Session: []
  Project: []
- ServiceAccount: []
paths:
  /project:
    get:
      description: List project
      operationId: project_list
      parameters:
      - description: Filter by name
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: Filter by $limit
        explode: true
        in: query
        name: $limit
        required: false
        schema:
          type: string
        style: form
      - description: Filter by active
        explode: true
        in: query
        name: active
        required: false
        schema:
          type: string
        style: form
      - description: Filter by organisation
        explode: true
        in: query
        name: organisation
        required: false
        schema:
          type: string
        style: form
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/project'
                type: array
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: List
      tags:
      - project
    post:
      description: Create project
      operationId: project_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/project_create'
        required: true
      responses:
        202:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/project'
          description: operation queued
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: Create
      tags:
      - project
  /project/{projectId}:
    get:
      description: Returns a single project
      operationId: project_show
      parameters:
      - description: ID of project
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/project'
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: Get
      tags:
      - project
    patch:
      description: Returns modified project
      operationId: project_update
      parameters:
      - description: ID of project
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/project_update'
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/project'
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: Update
      tags:
      - project
  /project/{projectId}/accessrights:
    get:
      operationId: project_list_accessrights
      parameters:
      - description: ID of project
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/project.accessRights'
                type: array
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /accessrights
      tags:
      - project
    post:
      operationId: project_post_accessrights
      parameters:
      - description: ID of project
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/project_post_accessrights'
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/project.accessRights'
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /accessrights
      tags:
      - project
  /project/{projectId}/accessrights/{identity}:
    delete:
      operationId: project_delete_accessrights_identity
      parameters:
      - description: ID of project
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      - description: identity
        explode: false
        in: path
        name: identity
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/project'
          description: successful operation
        202:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/project'
          description: operation queued
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /accessrights/:identity
      tags:
      - project
  /project/{projectId}/services:
    get:
      operationId: project_list_services
      parameters:
      - description: ID of project
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/project.services'
                type: array
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /services
      tags:
      - project
  /project/{projectId}/services/{serviceId}:
    get:
      operationId: project_get_services_serviceId
      parameters:
      - description: ID of project
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      - description: serviceId
        explode: false
        in: path
        name: serviceId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/project.services'
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /services/:serviceId
      tags:
      - project
  /project/{projectId}/tag:
    get:
      operationId: project_get_tag
      parameters:
      - description: ID of project
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/project.tag'
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /tag
      tags:
      - project
    patch:
      operationId: project_patch_tag
      parameters:
      - description: ID of project
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/project_patch_tag'
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/project.tag'
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /tag
      tags:
      - project
  /project/{projectId}/tag/{key}:
    delete:
      operationId: project_delete_tag_key
      parameters:
      - description: ID of project
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      - description: key
        explode: false
        in: path
        name: key
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/project.tag'
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /tag/:key
      tags:
      - project
  /project/{projectId}/queue:
    get:
      operationId: project_list_queue
      parameters:
      - description: ID of project
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/event'
                type: array
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /queue
      tags:
      - project
  /organisation:
    get:
      description: List organisation
      operationId: organisation_list
      parameters:
      - description: Filter by name
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: Filter by billing.company
        explode: true
        in: query
        name: billing.company
        required: false
        schema:
          type: string
        style: form
      - description: Filter by $limit
        explode: true
        in: query
        name: $limit
        required: false
        schema:
          type: string
        style: form
      - description: Filter by active
        explode: true
        in: query
        name: active
        required: false
        schema:
          type: string
        style: form
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/organisation'
                type: array
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: List
      tags:
      - organisation
    post:
      description: Create organisation
      operationId: organisation_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/organisation_create'
        required: true
      responses:
        202:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/organisation'
          description: operation queued
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: Create
      tags:
      - organisation
  /organisation/{organisationId}:
    get:
      description: Returns a single organisation
      operationId: organisation_show
      parameters:
      - description: ID of organisation
        explode: false
        in: path
        name: organisationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/organisation'
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: Get
      tags:
      - organisation
    patch:
      description: Returns modified organisation
      operationId: organisation_update
      parameters:
      - description: ID of organisation
        explode: false
        in: path
        name: organisationId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/organisation_update'
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/organisation'
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: Update
      tags:
      - organisation
  /organisation/{organisationId}/actions/transfer_accept:
    post:
      description: Action transfer_accept
      operationId: organisation_action_transfer_accept
      parameters:
      - description: ID of organisation
        explode: false
        in: path
        name: organisationId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/organisation_action_transfer_accept'
        required: true
      responses:
        202:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/organisation'
          description: operation queued
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /actions/transfer_accept
      tags:
      - organisation
  /organisation/{organisationId}/accessrights:
    get:
      operationId: organisation_list_accessrights
      parameters:
      - description: ID of organisation
        explode: false
        in: path
        name: organisationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/organisation.accessRights'
                type: array
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /accessrights
      tags:
      - organisation
    post:
      operationId: organisation_post_accessrights
      parameters:
      - description: ID of organisation
        explode: false
        in: path
        name: organisationId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/organisation_post_accessrights'
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/organisation.accessRights'
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /accessrights
      tags:
      - organisation
  /organisation/{organisationId}/accessrights/{identity}:
    delete:
      operationId: organisation_delete_accessrights_identity
      parameters:
      - description: ID of organisation
        explode: false
        in: path
        name: organisationId
        required: true
        schema:
          type: string
        style: simple
      - description: identity
        explode: false
        in: path
        name: identity
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/organisation'
          description: successful operation
        202:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/organisation'
          description: operation queued
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /accessrights/:identity
      tags:
      - organisation
  /organisation/{organisationId}/tag:
    get:
      operationId: organisation_get_tag
      parameters:
      - description: ID of organisation
        explode: false
        in: path
        name: organisationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/organisation.tag'
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /tag
      tags:
      - organisation
    patch:
      operationId: organisation_patch_tag
      parameters:
      - description: ID of organisation
        explode: false
        in: path
        name: organisationId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/organisation_patch_tag'
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/organisation.tag'
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /tag
      tags:
      - organisation
  /organisation/{organisationId}/tag/{key}:
    delete:
      operationId: organisation_delete_tag_key
      parameters:
      - description: ID of organisation
        explode: false
        in: path
        name: organisationId
        required: true
        schema:
          type: string
        style: simple
      - description: key
        explode: false
        in: path
        name: key
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/organisation.tag'
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /tag/:key
      tags:
      - organisation
  /organisation/{organisationId}/queue:
    get:
      operationId: organisation_list_queue
      parameters:
      - description: ID of organisation
        explode: false
        in: path
        name: organisationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/event'
                type: array
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /queue
      tags:
      - organisation
  /container:
    get:
      description: List container
      operationId: container_list
      parameters:
      - description: Filter by name
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/container'
                type: array
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: List
      tags:
      - container
    post:
      description: Create container
      operationId: container_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/container_create'
        required: true
      responses:
        202:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/container'
          description: operation queued
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: Create
      tags:
      - container
  /container/{containerId}:
    delete:
      operationId: container_delete
      parameters:
      - description: ID of container
        explode: false
        in: path
        name: containerId
        required: true
        schema:
          type: string
        style: simple
      responses:
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: Delete
      tags:
      - container
    get:
      description: Returns a single container
      operationId: container_show
      parameters:
      - description: ID of container
        explode: false
        in: path
        name: containerId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/container'
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: Get
      tags:
      - container
    patch:
      description: Returns modified container
      operationId: container_update
      parameters:
      - description: ID of container
        explode: false
        in: path
        name: containerId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/container_update'
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/container'
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: Update
      tags:
      - container
  /container/{containerId}/actions/start:
    post:
      description: Action start
      operationId: container_action_start
      parameters:
      - description: ID of container
        explode: false
        in: path
        name: containerId
        required: true
        schema:
          type: string
        style: simple
      responses:
        202:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/container'
          description: operation queued
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /actions/start
      tags:
      - container
  /container/{containerId}/actions/stop:
    post:
      description: Action stop
      operationId: container_action_stop
      parameters:
      - description: ID of container
        explode: false
        in: path
        name: containerId
        required: true
        schema:
          type: string
        style: simple
      responses:
        202:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/container'
          description: operation queued
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /actions/stop
      tags:
      - container
  /container/{containerId}/actions/restart:
    post:
      description: Action restart
      operationId: container_action_restart
      parameters:
      - description: ID of container
        explode: false
        in: path
        name: containerId
        required: true
        schema:
          type: string
        style: simple
      responses:
        202:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/container'
          description: operation queued
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /actions/restart
      tags:
      - container
  /container/{containerId}/accessrights:
    get:
      operationId: container_list_accessrights
      parameters:
      - description: ID of container
        explode: false
        in: path
        name: containerId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/container.accessRights'
                type: array
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /accessrights
      tags:
      - container
    post:
      operationId: container_post_accessrights
      parameters:
      - description: ID of container
        explode: false
        in: path
        name: containerId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/container_post_accessrights'
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/container.accessRights'
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /accessrights
      tags:
      - container
  /container/{containerId}/accessrights/{identity}:
    delete:
      operationId: container_delete_accessrights_identity
      parameters:
      - description: ID of container
        explode: false
        in: path
        name: containerId
        required: true
        schema:
          type: string
        style: simple
      - description: identity
        explode: false
        in: path
        name: identity
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/container'
          description: successful operation
        202:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/container'
          description: operation queued
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /accessrights/:identity
      tags:
      - container
  /container/{containerId}/services:
    get:
      operationId: container_list_services
      parameters:
      - description: ID of container
        explode: false
        in: path
        name: containerId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/container.services'
                type: array
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /services
      tags:
      - container
  /container/{containerId}/services/{serviceId}:
    get:
      operationId: container_get_services_serviceId
      parameters:
      - description: ID of container
        explode: false
        in: path
        name: containerId
        required: true
        schema:
          type: string
        style: simple
      - description: serviceId
        explode: false
        in: path
        name: serviceId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/container.services'
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /services/:serviceId
      tags:
      - container
  /container/{containerId}/tag:
    get:
      operationId: container_get_tag
      parameters:
      - description: ID of container
        explode: false
        in: path
        name: containerId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/container.tag'
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /tag
      tags:
      - container
    patch:
      operationId: container_patch_tag
      parameters:
      - description: ID of container
        explode: false
        in: path
        name: containerId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/container_patch_tag'
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/container.tag'
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /tag
      tags:
      - container
  /container/{containerId}/tag/{key}:
    delete:
      operationId: container_delete_tag_key
      parameters:
      - description: ID of container
        explode: false
        in: path
        name: containerId
        required: true
        schema:
          type: string
        style: simple
      - description: key
        explode: false
        in: path
        name: key
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/container.tag'
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /tag/:key
      tags:
      - container
  /container/{containerId}/queue:
    get:
      operationId: container_list_queue
      parameters:
      - description: ID of container
        explode: false
        in: path
        name: containerId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/event'
                type: array
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /queue
      tags:
      - container
  /firewall:
    get:
      description: List firewall
      operationId: firewall_list
      parameters:
      - description: Filter by name
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/firewall'
                type: array
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: List
      tags:
      - firewall
    post:
      description: Create firewall
      operationId: firewall_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/firewall_create'
        required: true
      responses:
        202:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/firewall'
          description: operation queued
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: Create
      tags:
      - firewall
  /firewall/{firewallId}:
    delete:
      operationId: firewall_delete
      parameters:
      - description: ID of firewall
        explode: false
        in: path
        name: firewallId
        required: true
        schema:
          type: string
        style: simple
      responses:
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: Delete
      tags:
      - firewall
    get:
      description: Returns a single firewall
      operationId: firewall_show
      parameters:
      - description: ID of firewall
        explode: false
        in: path
        name: firewallId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/firewall'
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: Get
      tags:
      - firewall
    patch:
      description: Returns modified firewall
      operationId: firewall_update
      parameters:
      - description: ID of firewall
        explode: false
        in: path
        name: firewallId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/firewall_update'
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/firewall'
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: Update
      tags:
      - firewall
  /firewall/{firewallId}/actions/attach:
    post:
      description: Action attach
      operationId: firewall_action_attach
      parameters:
      - description: ID of firewall
        explode: false
        in: path
        name: firewallId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/firewall_action_attach'
        required: true
      responses:
        202:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/firewall'
          description: operation queued
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /actions/attach
      tags:
      - firewall
  /firewall/{firewallId}/actions/detach:
    post:
      description: Action detach
      operationId: firewall_action_detach
      parameters:
      - description: ID of firewall
        explode: false
        in: path
        name: firewallId
        required: true
        schema:
          type: string
        style: simple
      responses:
        202:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/firewall'
          description: operation queued
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /actions/detach
      tags:
      - firewall
  /firewall/{firewallId}/actions/transfer:
    post:
      description: Action transfer
      operationId: firewall_action_transfer
      parameters:
      - description: ID of firewall
        explode: false
        in: path
        name: firewallId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/firewall_action_transfer'
        required: true
      responses:
        202:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/firewall'
          description: operation queued
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /actions/transfer
      tags:
      - firewall
  /firewall/{firewallId}/ingress:
    get:
      operationId: firewall_list_ingress
      parameters:
      - description: ID of firewall
        explode: false
        in: path
        name: firewallId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/inline_response_200'
                type: array
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /ingress
      tags:
      - firewall
    post:
      operationId: firewall_post_ingress
      parameters:
      - description: ID of firewall
        explode: false
        in: path
        name: firewallId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/firewall_post_ingress'
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /ingress
      tags:
      - firewall
  /firewall/{firewallId}/ingress/{ruleId}:
    delete:
      operationId: firewall_delete_ingress_ruleId
      parameters:
      - description: ID of firewall
        explode: false
        in: path
        name: firewallId
        required: true
        schema:
          type: string
        style: simple
      - description: ruleId
        explode: false
        in: path
        name: ruleId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /ingress/:ruleId
      tags:
      - firewall
    get:
      operationId: firewall_get_ingress_ruleId
      parameters:
      - description: ID of firewall
        explode: false
        in: path
        name: firewallId
        required: true
        schema:
          type: string
        style: simple
      - description: ruleId
        explode: false
        in: path
        name: ruleId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /ingress/:ruleId
      tags:
      - firewall
  /firewall/{firewallId}/egress:
    get:
      operationId: firewall_list_egress
      parameters:
      - description: ID of firewall
        explode: false
        in: path
        name: firewallId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/inline_response_200'
                type: array
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /egress
      tags:
      - firewall
    post:
      operationId: firewall_post_egress
      parameters:
      - description: ID of firewall
        explode: false
        in: path
        name: firewallId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/firewall_post_egress'
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /egress
      tags:
      - firewall
  /firewall/{firewallId}/egress/{ruleId}:
    delete:
      operationId: firewall_delete_egress_ruleId
      parameters:
      - description: ID of firewall
        explode: false
        in: path
        name: firewallId
        required: true
        schema:
          type: string
        style: simple
      - description: ruleId
        explode: false
        in: path
        name: ruleId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /egress/:ruleId
      tags:
      - firewall
    get:
      operationId: firewall_get_egress_ruleId
      parameters:
      - description: ID of firewall
        explode: false
        in: path
        name: firewallId
        required: true
        schema:
          type: string
        style: simple
      - description: ruleId
        explode: false
        in: path
        name: ruleId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /egress/:ruleId
      tags:
      - firewall
  /firewall/{firewallId}/accessrights:
    get:
      operationId: firewall_list_accessrights
      parameters:
      - description: ID of firewall
        explode: false
        in: path
        name: firewallId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/firewall.accessRights'
                type: array
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /accessrights
      tags:
      - firewall
    post:
      operationId: firewall_post_accessrights
      parameters:
      - description: ID of firewall
        explode: false
        in: path
        name: firewallId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/firewall_post_accessrights'
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/firewall.accessRights'
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /accessrights
      tags:
      - firewall
  /firewall/{firewallId}/accessrights/{identity}:
    delete:
      operationId: firewall_delete_accessrights_identity
      parameters:
      - description: ID of firewall
        explode: false
        in: path
        name: firewallId
        required: true
        schema:
          type: string
        style: simple
      - description: identity
        explode: false
        in: path
        name: identity
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/firewall'
          description: successful operation
        202:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/firewall'
          description: operation queued
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /accessrights/:identity
      tags:
      - firewall
  /firewall/{firewallId}/services:
    get:
      operationId: firewall_list_services
      parameters:
      - description: ID of firewall
        explode: false
        in: path
        name: firewallId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/firewall.services'
                type: array
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /services
      tags:
      - firewall
  /firewall/{firewallId}/services/{serviceId}:
    get:
      operationId: firewall_get_services_serviceId
      parameters:
      - description: ID of firewall
        explode: false
        in: path
        name: firewallId
        required: true
        schema:
          type: string
        style: simple
      - description: serviceId
        explode: false
        in: path
        name: serviceId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/firewall.services'
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /services/:serviceId
      tags:
      - firewall
  /firewall/{firewallId}/tag:
    get:
      operationId: firewall_get_tag
      parameters:
      - description: ID of firewall
        explode: false
        in: path
        name: firewallId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/firewall.tag'
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /tag
      tags:
      - firewall
    patch:
      operationId: firewall_patch_tag
      parameters:
      - description: ID of firewall
        explode: false
        in: path
        name: firewallId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/firewall_patch_tag'
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/firewall.tag'
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /tag
      tags:
      - firewall
  /firewall/{firewallId}/tag/{key}:
    delete:
      operationId: firewall_delete_tag_key
      parameters:
      - description: ID of firewall
        explode: false
        in: path
        name: firewallId
        required: true
        schema:
          type: string
        style: simple
      - description: key
        explode: false
        in: path
        name: key
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/firewall.tag'
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /tag/:key
      tags:
      - firewall
  /firewall/{firewallId}/queue:
    get:
      operationId: firewall_list_queue
      parameters:
      - description: ID of firewall
        explode: false
        in: path
        name: firewallId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/event'
                type: array
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /queue
      tags:
      - firewall
  /network:
    get:
      description: List network
      operationId: network_list
      parameters:
      - description: Filter by name
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/network'
                type: array
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: List
      tags:
      - network
    post:
      description: Create network
      operationId: network_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/network_create'
        required: true
      responses:
        202:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/network'
          description: operation queued
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: Create
      tags:
      - network
  /network/{networkId}:
    delete:
      operationId: network_delete
      parameters:
      - description: ID of network
        explode: false
        in: path
        name: networkId
        required: true
        schema:
          type: string
        style: simple
      responses:
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: Delete
      tags:
      - network
    get:
      description: Returns a single network
      operationId: network_show
      parameters:
      - description: ID of network
        explode: false
        in: path
        name: networkId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/network'
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: Get
      tags:
      - network
    patch:
      description: Returns modified network
      operationId: network_update
      parameters:
      - description: ID of network
        explode: false
        in: path
        name: networkId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/network_update'
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/network'
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: Update
      tags:
      - network
  /network/{networkId}/ip:
    get:
      operationId: network_list_ip
      parameters:
      - description: ID of network
        explode: false
        in: path
        name: networkId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ip'
                type: array
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /ip
      tags:
      - network
    post:
      operationId: network_post_ip
      parameters:
      - description: ID of network
        explode: false
        in: path
        name: networkId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/network_post_ip'
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ip'
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /ip
      tags:
      - network
  /network/{networkId}/ip/:ipId:
    delete:
      operationId: network_delete_ip_ipId
      parameters:
      - description: ID of network
        explode: false
        in: path
        name: networkId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ip'
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /ip/:ipId
      tags:
      - network
    get:
      operationId: network_get_ip_ipId
      parameters:
      - description: ID of network
        explode: false
        in: path
        name: networkId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ip'
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /ip/:ipId
      tags:
      - network
  /network/{networkId}/accessrights:
    get:
      operationId: network_list_accessrights
      parameters:
      - description: ID of network
        explode: false
        in: path
        name: networkId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/network.accessRights'
                type: array
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /accessrights
      tags:
      - network
    post:
      operationId: network_post_accessrights
      parameters:
      - description: ID of network
        explode: false
        in: path
        name: networkId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/network_post_accessrights'
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/network.accessRights'
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /accessrights
      tags:
      - network
  /network/{networkId}/accessrights/{identity}:
    delete:
      operationId: network_delete_accessrights_identity
      parameters:
      - description: ID of network
        explode: false
        in: path
        name: networkId
        required: true
        schema:
          type: string
        style: simple
      - description: identity
        explode: false
        in: path
        name: identity
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/network'
          description: successful operation
        202:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/network'
          description: operation queued
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /accessrights/:identity
      tags:
      - network
  /network/{networkId}/services:
    get:
      operationId: network_list_services
      parameters:
      - description: ID of network
        explode: false
        in: path
        name: networkId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/network.services'
                type: array
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /services
      tags:
      - network
  /network/{networkId}/services/{serviceId}:
    get:
      operationId: network_get_services_serviceId
      parameters:
      - description: ID of network
        explode: false
        in: path
        name: networkId
        required: true
        schema:
          type: string
        style: simple
      - description: serviceId
        explode: false
        in: path
        name: serviceId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/network.services'
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /services/:serviceId
      tags:
      - network
  /network/{networkId}/tag:
    get:
      operationId: network_get_tag
      parameters:
      - description: ID of network
        explode: false
        in: path
        name: networkId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/network.tag'
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /tag
      tags:
      - network
    patch:
      operationId: network_patch_tag
      parameters:
      - description: ID of network
        explode: false
        in: path
        name: networkId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/network_patch_tag'
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/network.tag'
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /tag
      tags:
      - network
  /network/{networkId}/tag/{key}:
    delete:
      operationId: network_delete_tag_key
      parameters:
      - description: ID of network
        explode: false
        in: path
        name: networkId
        required: true
        schema:
          type: string
        style: simple
      - description: key
        explode: false
        in: path
        name: key
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/network.tag'
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /tag/:key
      tags:
      - network
  /network/{networkId}/queue:
    get:
      operationId: network_list_queue
      parameters:
      - description: ID of network
        explode: false
        in: path
        name: networkId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/event'
                type: array
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /queue
      tags:
      - network
  /netgw:
    get:
      description: List netgw
      operationId: netgw_list
      parameters:
      - description: Filter by name
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/netgw'
                type: array
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: List
      tags:
      - netgw
    post:
      description: Create netgw
      operationId: netgw_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/netgw_create'
        required: true
      responses:
        202:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/netgw'
          description: operation queued
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: Create
      tags:
      - netgw
  /netgw/{netgwId}:
    delete:
      operationId: netgw_delete
      parameters:
      - description: ID of netgw
        explode: false
        in: path
        name: netgwId
        required: true
        schema:
          type: string
        style: simple
      responses:
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: Delete
      tags:
      - netgw
    get:
      description: Returns a single netgw
      operationId: netgw_show
      parameters:
      - description: ID of netgw
        explode: false
        in: path
        name: netgwId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/netgw'
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: Get
      tags:
      - netgw
    patch:
      description: Returns modified netgw
      operationId: netgw_update
      parameters:
      - description: ID of netgw
        explode: false
        in: path
        name: netgwId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/netgw_update'
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/netgw'
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: Update
      tags:
      - netgw
  /netgw/{netgwId}/actions/attach:
    post:
      description: Action attach
      operationId: netgw_action_attach
      parameters:
      - description: ID of netgw
        explode: false
        in: path
        name: netgwId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/netgw_action_attach'
        required: true
      responses:
        202:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/netgw'
          description: operation queued
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /actions/attach
      tags:
      - netgw
  /netgw/{netgwId}/actions/detach:
    post:
      description: Action detach
      operationId: netgw_action_detach
      parameters:
      - description: ID of netgw
        explode: false
        in: path
        name: netgwId
        required: true
        schema:
          type: string
        style: simple
      responses:
        202:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/netgw'
          description: operation queued
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /actions/detach
      tags:
      - netgw
  /netgw/{netgwId}/accessrights:
    get:
      operationId: netgw_list_accessrights
      parameters:
      - description: ID of netgw
        explode: false
        in: path
        name: netgwId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/netgw.accessRights'
                type: array
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /accessrights
      tags:
      - netgw
    post:
      operationId: netgw_post_accessrights
      parameters:
      - description: ID of netgw
        explode: false
        in: path
        name: netgwId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/netgw_post_accessrights'
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/netgw.accessRights'
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /accessrights
      tags:
      - netgw
  /netgw/{netgwId}/accessrights/{identity}:
    delete:
      operationId: netgw_delete_accessrights_identity
      parameters:
      - description: ID of netgw
        explode: false
        in: path
        name: netgwId
        required: true
        schema:
          type: string
        style: simple
      - description: identity
        explode: false
        in: path
        name: identity
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/netgw'
          description: successful operation
        202:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/netgw'
          description: operation queued
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /accessrights/:identity
      tags:
      - netgw
  /netgw/{netgwId}/services:
    get:
      operationId: netgw_list_services
      parameters:
      - description: ID of netgw
        explode: false
        in: path
        name: netgwId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/netgw.services'
                type: array
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /services
      tags:
      - netgw
  /netgw/{netgwId}/services/{serviceId}:
    get:
      operationId: netgw_get_services_serviceId
      parameters:
      - description: ID of netgw
        explode: false
        in: path
        name: netgwId
        required: true
        schema:
          type: string
        style: simple
      - description: serviceId
        explode: false
        in: path
        name: serviceId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/netgw.services'
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /services/:serviceId
      tags:
      - netgw
  /netgw/{netgwId}/tag:
    get:
      operationId: netgw_get_tag
      parameters:
      - description: ID of netgw
        explode: false
        in: path
        name: netgwId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/netgw.tag'
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /tag
      tags:
      - netgw
    patch:
      operationId: netgw_patch_tag
      parameters:
      - description: ID of netgw
        explode: false
        in: path
        name: netgwId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/netgw_patch_tag'
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/netgw.tag'
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /tag
      tags:
      - netgw
  /netgw/{netgwId}/tag/{key}:
    delete:
      operationId: netgw_delete_tag_key
      parameters:
      - description: ID of netgw
        explode: false
        in: path
        name: netgwId
        required: true
        schema:
          type: string
        style: simple
      - description: key
        explode: false
        in: path
        name: key
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/netgw.tag'
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /tag/:key
      tags:
      - netgw
  /netgw/{netgwId}/queue:
    get:
      operationId: netgw_list_queue
      parameters:
      - description: ID of netgw
        explode: false
        in: path
        name: netgwId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/event'
                type: array
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /queue
      tags:
      - netgw
  /image:
    get:
      description: List image
      operationId: image_list
      parameters:
      - description: Filter by name
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/image'
                type: array
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: List
      tags:
      - image
    post:
      description: Create image
      operationId: image_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/image_create'
        required: true
      responses:
        202:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/image'
          description: operation queued
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: Create
      tags:
      - image
  /image/{imageId}:
    delete:
      operationId: image_delete
      parameters:
      - description: ID of image
        explode: false
        in: path
        name: imageId
        required: true
        schema:
          type: string
        style: simple
      responses:
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: Delete
      tags:
      - image
    get:
      description: Returns a single image
      operationId: image_show
      parameters:
      - description: ID of image
        explode: false
        in: path
        name: imageId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/image'
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: Get
      tags:
      - image
    patch:
      description: Returns modified image
      operationId: image_update
      parameters:
      - description: ID of image
        explode: false
        in: path
        name: imageId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/image_update'
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/image'
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: Update
      tags:
      - image
  /image/{imageId}/actions/transfer:
    post:
      description: Action transfer
      operationId: image_action_transfer
      parameters:
      - description: ID of image
        explode: false
        in: path
        name: imageId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/image_action_transfer'
        required: true
      responses:
        202:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/image'
          description: operation queued
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /actions/transfer
      tags:
      - image
  /image/{imageId}/accessrights:
    get:
      operationId: image_list_accessrights
      parameters:
      - description: ID of image
        explode: false
        in: path
        name: imageId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/image.accessRights'
                type: array
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /accessrights
      tags:
      - image
    post:
      operationId: image_post_accessrights
      parameters:
      - description: ID of image
        explode: false
        in: path
        name: imageId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/image_post_accessrights'
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/image.accessRights'
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /accessrights
      tags:
      - image
  /image/{imageId}/accessrights/{identity}:
    delete:
      operationId: image_delete_accessrights_identity
      parameters:
      - description: ID of image
        explode: false
        in: path
        name: imageId
        required: true
        schema:
          type: string
        style: simple
      - description: identity
        explode: false
        in: path
        name: identity
        required: true
        schema:
[...]
