openapi: 3.0.0
info:
  title: HyperOne API
  version: 1.0.0
servers:
- description: HyperOne API
  url: https://api.hyperone.com/v1
security:
- Session: []
  Project: []
- ServiceAccount: []
paths:
  /project:
    get:
      description: List project
      operationId: list_project
      parameters:
      - description: Filter by name
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: Filter by $limit
        explode: true
        in: query
        name: $limit
        required: false
        schema:
          type: string
        style: form
      - description: Filter by active
        explode: true
        in: query
        name: active
        required: false
        schema:
          type: string
        style: form
      - description: Filter by organisation
        explode: true
        in: query
        name: organisation
        required: false
        schema:
          type: string
        style: form
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/project'
                type: array
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: List
      tags:
      - project
    post:
      description: Create project
      operationId: create_project
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/projectCreate'
        required: true
      responses:
        202:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/project'
          description: operation queued
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: Create
      tags:
      - project
  /project/{projectId}:
    get:
      description: Returns a single project
      operationId: show_project
      parameters:
      - description: ID of project
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/project'
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: Get
      tags:
      - project
    patch:
      description: Returns modified project
      operationId: update_project
      parameters:
      - description: ID of project
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/inline_object'
        content:
          application/json:
            schema:
              properties:
                name:
                  type: string
              type: object
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/project'
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: Update
      tags:
      - project
  /project/{projectId}/accessrights/:
    get:
      operationId: operation_project_list_/accessrights/
      parameters:
      - description: ID of project
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/project.accessRights'
                type: array
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /accessrights/
      tags:
      - project
    post:
      operationId: operation_project_post_/accessrights/
      parameters:
      - description: ID of project
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/inline_object_1'
        content:
          application/json:
            schema:
              properties:
                identity:
                  type: string
              type: object
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/project.accessRights'
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /accessrights/
      tags:
      - project
  /project/{projectId}/accessrights/{identity}:
    delete:
      operationId: operation_project_delete_/accessrights/:identity
      parameters:
      - description: ID of project
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      - description: identity
        explode: false
        in: path
        name: identity
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/project'
          description: successful operation
        202:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/project'
          description: operation queued
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /accessrights/:identity
      tags:
      - project
  /project/{projectId}/services/:
    get:
      operationId: operation_project_list_/services/
      parameters:
      - description: ID of project
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/project.services'
                type: array
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /services/
      tags:
      - project
  /project/{projectId}/services/{serviceId}:
    get:
      operationId: operation_project_get_/services/:serviceId
      parameters:
      - description: ID of project
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      - description: serviceId
        explode: false
        in: path
        name: serviceId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/project.services'
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /services/:serviceId
      tags:
      - project
  /project/{projectId}/tag/:
    get:
      operationId: operation_project_get_/tag/
      parameters:
      - description: ID of project
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/project.tag'
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /tag/
      tags:
      - project
    patch:
      operationId: operation_project_patch_/tag/
      parameters:
      - description: ID of project
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              additionalProperties:
                type: string
              type: object
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/project.tag'
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /tag/
      tags:
      - project
  /project/{projectId}/tag/{key}:
    delete:
      operationId: operation_project_delete_/tag/:key
      parameters:
      - description: ID of project
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      - description: key
        explode: false
        in: path
        name: key
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/project.tag'
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /tag/:key
      tags:
      - project
  /project/{projectId}/queue/:
    get:
      operationId: operation_project_list_/queue/
      parameters:
      - description: ID of project
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/event'
                type: array
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /queue/
      tags:
      - project
  /organisation:
    get:
      description: List organisation
      operationId: list_organisation
      parameters:
      - description: Filter by name
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: Filter by billing.company
        explode: true
        in: query
        name: billing.company
        required: false
        schema:
          type: string
        style: form
      - description: Filter by $limit
        explode: true
        in: query
        name: $limit
        required: false
        schema:
          type: string
        style: form
      - description: Filter by active
        explode: true
        in: query
        name: active
        required: false
        schema:
          type: string
        style: form
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/organisation'
                type: array
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: List
      tags:
      - organisation
    post:
      description: Create organisation
      operationId: create_organisation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/organisationCreate'
        required: true
      responses:
        202:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/organisation'
          description: operation queued
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: Create
      tags:
      - organisation
  /organisation/{organisationId}:
    get:
      description: Returns a single organisation
      operationId: show_organisation
      parameters:
      - description: ID of organisation
        explode: false
        in: path
        name: organisationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/organisation'
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: Get
      tags:
      - organisation
    patch:
      description: Returns modified organisation
      operationId: update_organisation
      parameters:
      - description: ID of organisation
        explode: false
        in: path
        name: organisationId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/inline_object_2'
        content:
          application/json:
            schema:
              properties:
                name:
                  type: string
                billing:
                  $ref: '#/components/schemas/organisationorganisationId_billing'
              type: object
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/organisation'
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: Update
      tags:
      - organisation
  /organisation/{organisationId}/actions/transfer_accept:
    post:
      description: Action transfer_accept
      operationId: action_organisation_transfer_accept
      parameters:
      - description: ID of organisation
        explode: false
        in: path
        name: organisationId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/inline_object_3'
        content:
          application/json:
            schema:
              properties:
                payment:
                  type: string
                project:
                  type: string
              required:
              - payment
              - project
              type: object
        required: true
      responses:
        202:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/organisation'
          description: operation queued
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /actions/transfer_accept
      tags:
      - organisation
  /organisation/{organisationId}/accessrights/:
    get:
      operationId: operation_organisation_list_/accessrights/
      parameters:
      - description: ID of organisation
        explode: false
        in: path
        name: organisationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/organisation.accessRights'
                type: array
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /accessrights/
      tags:
      - organisation
    post:
      operationId: operation_organisation_post_/accessrights/
      parameters:
      - description: ID of organisation
        explode: false
        in: path
        name: organisationId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/inline_object_4'
        content:
          application/json:
            schema:
              properties:
                identity:
                  type: string
              type: object
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/organisation.accessRights'
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /accessrights/
      tags:
      - organisation
  /organisation/{organisationId}/accessrights/{identity}:
    delete:
      operationId: operation_organisation_delete_/accessrights/:identity
      parameters:
      - description: ID of organisation
        explode: false
        in: path
        name: organisationId
        required: true
        schema:
          type: string
        style: simple
      - description: identity
        explode: false
        in: path
        name: identity
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/organisation'
          description: successful operation
        202:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/organisation'
          description: operation queued
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /accessrights/:identity
      tags:
      - organisation
  /organisation/{organisationId}/tag/:
    get:
      operationId: operation_organisation_get_/tag/
      parameters:
      - description: ID of organisation
        explode: false
        in: path
        name: organisationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/organisation.tag'
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /tag/
      tags:
      - organisation
    patch:
      operationId: operation_organisation_patch_/tag/
      parameters:
      - description: ID of organisation
        explode: false
        in: path
        name: organisationId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              additionalProperties:
                type: string
              type: object
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/organisation.tag'
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /tag/
      tags:
      - organisation
  /organisation/{organisationId}/tag/{key}:
    delete:
      operationId: operation_organisation_delete_/tag/:key
      parameters:
      - description: ID of organisation
        explode: false
        in: path
        name: organisationId
        required: true
        schema:
          type: string
        style: simple
      - description: key
        explode: false
        in: path
        name: key
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/organisation.tag'
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /tag/:key
      tags:
      - organisation
  /organisation/{organisationId}/queue/:
    get:
      operationId: operation_organisation_list_/queue/
      parameters:
      - description: ID of organisation
        explode: false
        in: path
        name: organisationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/event'
                type: array
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /queue/
      tags:
      - organisation
  /container:
    get:
      description: List container
      operationId: list_container
      parameters:
      - description: Filter by name
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/container'
                type: array
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: List
      tags:
      - container
    post:
      description: Create container
      operationId: create_container
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/containerCreate'
        required: true
      responses:
        202:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/container'
          description: operation queued
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: Create
      tags:
      - container
  /container/{containerId}:
    delete:
      operationId: delete_container
      parameters:
      - description: ID of container
        explode: false
        in: path
        name: containerId
        required: true
        schema:
          type: string
        style: simple
      responses:
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: Delete
      tags:
      - container
    get:
      description: Returns a single container
      operationId: show_container
      parameters:
      - description: ID of container
        explode: false
        in: path
        name: containerId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/container'
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: Get
      tags:
      - container
    patch:
      description: Returns modified container
      operationId: update_container
      parameters:
      - description: ID of container
        explode: false
        in: path
        name: containerId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/inline_object_5'
        content:
          application/json:
            schema:
              properties:
                name:
                  type: string
              type: object
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/container'
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: Update
      tags:
      - container
  /container/{containerId}/actions/start:
    post:
      description: Action start
      operationId: action_container_start
      parameters:
      - description: ID of container
        explode: false
        in: path
        name: containerId
        required: true
        schema:
          type: string
        style: simple
      responses:
        202:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/container'
          description: operation queued
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /actions/start
      tags:
      - container
  /container/{containerId}/actions/stop:
    post:
      description: Action stop
      operationId: action_container_stop
      parameters:
      - description: ID of container
        explode: false
        in: path
        name: containerId
        required: true
        schema:
          type: string
        style: simple
      responses:
        202:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/container'
          description: operation queued
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /actions/stop
      tags:
      - container
  /container/{containerId}/actions/restart:
    post:
      description: Action restart
      operationId: action_container_restart
      parameters:
      - description: ID of container
        explode: false
        in: path
        name: containerId
        required: true
        schema:
          type: string
        style: simple
      responses:
        202:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/container'
          description: operation queued
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /actions/restart
      tags:
      - container
  /container/{containerId}/accessrights/:
    get:
      operationId: operation_container_list_/accessrights/
      parameters:
      - description: ID of container
        explode: false
        in: path
        name: containerId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/container.accessRights'
                type: array
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /accessrights/
      tags:
      - container
    post:
      operationId: operation_container_post_/accessrights/
      parameters:
      - description: ID of container
        explode: false
        in: path
        name: containerId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/inline_object_6'
        content:
          application/json:
            schema:
              properties:
                identity:
                  type: string
              type: object
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/container.accessRights'
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /accessrights/
      tags:
      - container
  /container/{containerId}/accessrights/{identity}:
    delete:
      operationId: operation_container_delete_/accessrights/:identity
      parameters:
      - description: ID of container
        explode: false
        in: path
        name: containerId
        required: true
        schema:
          type: string
        style: simple
      - description: identity
        explode: false
        in: path
        name: identity
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/container'
          description: successful operation
        202:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/container'
          description: operation queued
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /accessrights/:identity
      tags:
      - container
  /container/{containerId}/services/:
    get:
      operationId: operation_container_list_/services/
      parameters:
      - description: ID of container
        explode: false
        in: path
        name: containerId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/container.services'
                type: array
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /services/
      tags:
      - container
  /container/{containerId}/services/{serviceId}:
    get:
      operationId: operation_container_get_/services/:serviceId
      parameters:
      - description: ID of container
        explode: false
        in: path
        name: containerId
        required: true
        schema:
          type: string
        style: simple
      - description: serviceId
        explode: false
        in: path
        name: serviceId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/container.services'
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /services/:serviceId
      tags:
      - container
  /container/{containerId}/tag/:
    get:
      operationId: operation_container_get_/tag/
      parameters:
      - description: ID of container
        explode: false
        in: path
        name: containerId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/container.tag'
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /tag/
      tags:
      - container
    patch:
      operationId: operation_container_patch_/tag/
      parameters:
      - description: ID of container
        explode: false
        in: path
        name: containerId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              additionalProperties:
                type: string
              type: object
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/container.tag'
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /tag/
      tags:
      - container
  /container/{containerId}/tag/{key}:
    delete:
      operationId: operation_container_delete_/tag/:key
      parameters:
      - description: ID of container
        explode: false
        in: path
        name: containerId
        required: true
        schema:
          type: string
        style: simple
      - description: key
        explode: false
        in: path
        name: key
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/container.tag'
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /tag/:key
      tags:
      - container
  /container/{containerId}/queue/:
    get:
      operationId: operation_container_list_/queue/
      parameters:
      - description: ID of container
        explode: false
        in: path
        name: containerId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/event'
                type: array
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /queue/
      tags:
      - container
  /firewall:
    get:
      description: List firewall
      operationId: list_firewall
      parameters:
      - description: Filter by name
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/firewall'
                type: array
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: List
      tags:
      - firewall
    post:
      description: Create firewall
      operationId: create_firewall
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/firewallCreate'
        required: true
      responses:
        202:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/firewall'
          description: operation queued
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: Create
      tags:
      - firewall
  /firewall/{firewallId}:
    delete:
      operationId: delete_firewall
      parameters:
      - description: ID of firewall
        explode: false
        in: path
        name: firewallId
        required: true
        schema:
          type: string
        style: simple
      responses:
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: Delete
      tags:
      - firewall
    get:
      description: Returns a single firewall
      operationId: show_firewall
      parameters:
      - description: ID of firewall
        explode: false
        in: path
        name: firewallId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/firewall'
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: Get
      tags:
      - firewall
    patch:
      description: Returns modified firewall
      operationId: update_firewall
      parameters:
      - description: ID of firewall
        explode: false
        in: path
        name: firewallId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/inline_object_7'
        content:
          application/json:
            schema:
              properties:
                name:
                  type: string
              type: object
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/firewall'
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: Update
      tags:
      - firewall
  /firewall/{firewallId}/actions/attach:
    post:
      description: Action attach
      operationId: action_firewall_attach
      parameters:
      - description: ID of firewall
        explode: false
        in: path
        name: firewallId
        required: true
        schema:
          type: string
        style: simple
      responses:
        202:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/firewall'
          description: operation queued
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /actions/attach
      tags:
      - firewall
  /firewall/{firewallId}/actions/detach:
    post:
      description: Action detach
      operationId: action_firewall_detach
      parameters:
      - description: ID of firewall
        explode: false
        in: path
        name: firewallId
        required: true
        schema:
          type: string
        style: simple
      responses:
        202:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/firewall'
          description: operation queued
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /actions/detach
      tags:
      - firewall
  /firewall/{firewallId}/actions/transfer:
    post:
      description: Action transfer
      operationId: action_firewall_transfer
      parameters:
      - description: ID of firewall
        explode: false
        in: path
        name: firewallId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/inline_object_8'
        content:
          application/json:
            schema:
              properties:
                project:
                  type: string
              required:
              - project
              type: object
        required: true
      responses:
        202:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/firewall'
          description: operation queued
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /actions/transfer
      tags:
      - firewall
  /firewall/{firewallId}/ingress:
    get:
      operationId: operation_firewall_list_/ingress
      parameters:
      - description: ID of firewall
        explode: false
        in: path
        name: firewallId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/inline_response_200'
                type: array
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /ingress
      tags:
      - firewall
    post:
      operationId: operation_firewall_post_/ingress
      parameters:
      - description: ID of firewall
        explode: false
        in: path
        name: firewallId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/inline_object_9'
        content:
          application/json:
            schema:
              properties:
                name:
                  type: string
                action:
                  type: string
                priority:
                  type: number
                filter:
                  items:
                    type: string
                  type: array
                external:
                  items:
                    type: string
                  type: array
                internal:
                  items:
                    type: string
                  type: array
              type: object
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /ingress
      tags:
      - firewall
  /firewall/{firewallId}/ingress/{ruleId}:
    delete:
      operationId: operation_firewall_delete_/ingress/:ruleId
      parameters:
      - description: ID of firewall
        explode: false
        in: path
        name: firewallId
        required: true
        schema:
          type: string
        style: simple
      - description: ruleId
        explode: false
        in: path
        name: ruleId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /ingress/:ruleId
      tags:
      - firewall
    get:
      operationId: operation_firewall_get_/ingress/:ruleId
      parameters:
      - description: ID of firewall
        explode: false
        in: path
        name: firewallId
        required: true
        schema:
          type: string
        style: simple
      - description: ruleId
        explode: false
        in: path
        name: ruleId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /ingress/:ruleId
      tags:
      - firewall
  /firewall/{firewallId}/egress:
    get:
      operationId: operation_firewall_list_/egress
      parameters:
      - description: ID of firewall
        explode: false
        in: path
        name: firewallId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/inline_response_200'
                type: array
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /egress
      tags:
      - firewall
    post:
      operationId: operation_firewall_post_/egress
      parameters:
      - description: ID of firewall
        explode: false
        in: path
        name: firewallId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/inline_object_10'
        content:
          application/json:
            schema:
              properties:
                name:
                  type: string
                action:
                  type: string
                priority:
                  type: number
                filter:
                  items:
                    type: string
                  type: array
                external:
                  items:
                    type: string
                  type: array
                internal:
                  items:
                    type: string
                  type: array
              type: object
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /egress
      tags:
      - firewall
  /firewall/{firewallId}/egress/{ruleId}:
    delete:
      operationId: operation_firewall_delete_/egress/:ruleId
      parameters:
      - description: ID of firewall
        explode: false
        in: path
        name: firewallId
        required: true
        schema:
          type: string
        style: simple
      - description: ruleId
        explode: false
        in: path
        name: ruleId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /egress/:ruleId
      tags:
      - firewall
    get:
      operationId: operation_firewall_get_/egress/:ruleId
      parameters:
      - description: ID of firewall
        explode: false
        in: path
        name: firewallId
        required: true
        schema:
          type: string
        style: simple
      - description: ruleId
        explode: false
        in: path
        name: ruleId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /egress/:ruleId
      tags:
      - firewall
  /firewall/{firewallId}/accessrights/:
    get:
      operationId: operation_firewall_list_/accessrights/
      parameters:
      - description: ID of firewall
        explode: false
        in: path
        name: firewallId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/firewall.accessRights'
                type: array
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /accessrights/
      tags:
      - firewall
    post:
      operationId: operation_firewall_post_/accessrights/
      parameters:
      - description: ID of firewall
        explode: false
        in: path
        name: firewallId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/inline_object_11'
        content:
          application/json:
            schema:
              properties:
                identity:
                  type: string
              type: object
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/firewall.accessRights'
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /accessrights/
      tags:
      - firewall
  /firewall/{firewallId}/accessrights/{identity}:
    delete:
      operationId: operation_firewall_delete_/accessrights/:identity
      parameters:
      - description: ID of firewall
        explode: false
        in: path
        name: firewallId
        required: true
        schema:
          type: string
        style: simple
      - description: identity
        explode: false
        in: path
        name: identity
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/firewall'
          description: successful operation
        202:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/firewall'
          description: operation queued
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /accessrights/:identity
      tags:
      - firewall
  /firewall/{firewallId}/services/:
    get:
      operationId: operation_firewall_list_/services/
      parameters:
      - description: ID of firewall
        explode: false
        in: path
        name: firewallId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/firewall.services'
                type: array
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /services/
      tags:
      - firewall
  /firewall/{firewallId}/services/{serviceId}:
    get:
      operationId: operation_firewall_get_/services/:serviceId
      parameters:
      - description: ID of firewall
        explode: false
        in: path
        name: firewallId
        required: true
        schema:
          type: string
        style: simple
      - description: serviceId
        explode: false
        in: path
        name: serviceId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/firewall.services'
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /services/:serviceId
      tags:
      - firewall
  /firewall/{firewallId}/tag/:
    get:
      operationId: operation_firewall_get_/tag/
      parameters:
      - description: ID of firewall
        explode: false
        in: path
        name: firewallId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/firewall.tag'
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /tag/
      tags:
      - firewall
    patch:
      operationId: operation_firewall_patch_/tag/
      parameters:
      - description: ID of firewall
        explode: false
        in: path
        name: firewallId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              additionalProperties:
                type: string
              type: object
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/firewall.tag'
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /tag/
      tags:
      - firewall
  /firewall/{firewallId}/tag/{key}:
    delete:
      operationId: operation_firewall_delete_/tag/:key
      parameters:
      - description: ID of firewall
        explode: false
        in: path
        name: firewallId
        required: true
        schema:
          type: string
        style: simple
      - description: key
        explode: false
        in: path
        name: key
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/firewall.tag'
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /tag/:key
      tags:
      - firewall
  /firewall/{firewallId}/queue/:
    get:
      operationId: operation_firewall_list_/queue/
      parameters:
      - description: ID of firewall
        explode: false
        in: path
        name: firewallId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/event'
                type: array
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /queue/
      tags:
      - firewall
  /network:
    get:
      description: List network
      operationId: list_network
      parameters:
      - description: Filter by name
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/network'
                type: array
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: List
      tags:
      - network
    post:
      description: Create network
      operationId: create_network
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/networkCreate'
        required: true
      responses:
        202:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/network'
          description: operation queued
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: Create
      tags:
      - network
  /network/{networkId}:
    delete:
      operationId: delete_network
      parameters:
      - description: ID of network
        explode: false
        in: path
        name: networkId
        required: true
        schema:
          type: string
        style: simple
      responses:
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: Delete
      tags:
      - network
    get:
      description: Returns a single network
      operationId: show_network
      parameters:
      - description: ID of network
        explode: false
        in: path
        name: networkId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/network'
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: Get
      tags:
      - network
    patch:
      description: Returns modified network
      operationId: update_network
      parameters:
      - description: ID of network
        explode: false
        in: path
        name: networkId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/inline_object_12'
        content:
          application/json:
            schema:
              properties:
                name:
                  type: string
                gateway:
                  type: string
              type: object
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/network'
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: Update
      tags:
      - network
  /network/{networkId}/ip:
    get:
      operationId: operation_network_list_/ip
      parameters:
      - description: ID of network
        explode: false
        in: path
        name: networkId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ip'
                type: array
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /ip
      tags:
      - network
    post:
      operationId: operation_network_post_/ip
      parameters:
      - description: ID of network
        explode: false
        in: path
        name: networkId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/inline_object_13'
        content:
          application/json:
            schema:
              properties:
                address:
                  type: string
                tag:
                  type: object
              type: object
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ip'
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /ip
      tags:
      - network
  /network/{networkId}/ip/:ipId:
    delete:
      operationId: operation_network_delete_/ip/:ipId
      parameters:
      - description: ID of network
        explode: false
        in: path
        name: networkId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ip'
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /ip/:ipId
      tags:
      - network
    get:
      operationId: operation_network_get_/ip/:ipId
      parameters:
      - description: ID of network
        explode: false
        in: path
        name: networkId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ip'
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /ip/:ipId
      tags:
      - network
  /network/{networkId}/accessrights/:
    get:
      operationId: operation_network_list_/accessrights/
      parameters:
      - description: ID of network
        explode: false
        in: path
        name: networkId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/network.accessRights'
                type: array
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /accessrights/
      tags:
      - network
    post:
      operationId: operation_network_post_/accessrights/
      parameters:
      - description: ID of network
        explode: false
        in: path
        name: networkId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/inline_object_14'
        content:
          application/json:
            schema:
              properties:
                identity:
                  type: string
              type: object
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/network.accessRights'
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /accessrights/
      tags:
      - network
  /network/{networkId}/accessrights/{identity}:
    delete:
      operationId: operation_network_delete_/accessrights/:identity
      parameters:
      - description: ID of network
        explode: false
        in: path
        name: networkId
        required: true
        schema:
          type: string
        style: simple
      - description: identity
        explode: false
        in: path
        name: identity
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/network'
          description: successful operation
        202:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/network'
          description: operation queued
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /accessrights/:identity
      tags:
      - network
  /network/{networkId}/services/:
    get:
      operationId: operation_network_list_/services/
      parameters:
      - description: ID of network
        explode: false
        in: path
        name: networkId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/network.services'
                type: array
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /services/
      tags:
      - network
  /network/{networkId}/services/{serviceId}:
    get:
      operationId: operation_network_get_/services/:serviceId
      parameters:
      - description: ID of network
        explode: false
        in: path
        name: networkId
        required: true
        schema:
          type: string
        style: simple
      - description: serviceId
        explode: false
        in: path
        name: serviceId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/network.services'
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /services/:serviceId
      tags:
      - network
  /network/{networkId}/tag/:
    get:
      operationId: operation_network_get_/tag/
      parameters:
      - description: ID of network
        explode: false
        in: path
        name: networkId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/network.tag'
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /tag/
      tags:
      - network
    patch:
      operationId: operation_network_patch_/tag/
      parameters:
      - description: ID of network
        explode: false
        in: path
        name: networkId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              additionalProperties:
                type: string
              type: object
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/network.tag'
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /tag/
      tags:
      - network
  /network/{networkId}/tag/{key}:
    delete:
      operationId: operation_network_delete_/tag/:key
      parameters:
      - description: ID of network
        explode: false
        in: path
        name: networkId
        required: true
        schema:
          type: string
        style: simple
      - description: key
        explode: false
        in: path
        name: key
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/network.tag'
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /tag/:key
      tags:
      - network
  /network/{networkId}/queue/:
    get:
      operationId: operation_network_list_/queue/
      parameters:
      - description: ID of network
        explode: false
        in: path
        name: networkId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/event'
                type: array
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /queue/
      tags:
      - network
  /netgw:
    get:
      description: List netgw
      operationId: list_netgw
      parameters:
      - description: Filter by name
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/netgw'
                type: array
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: List
      tags:
      - netgw
    post:
      description: Create netgw
      operationId: create_netgw
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/netgwCreate'
        required: true
      responses:
        202:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/netgw'
          description: operation queued
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: Create
      tags:
      - netgw
  /netgw/{netgwId}:
    delete:
      operationId: delete_netgw
      parameters:
      - description: ID of netgw
        explode: false
        in: path
        name: netgwId
        required: true
        schema:
          type: string
        style: simple
      responses:
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: Delete
      tags:
      - netgw
    get:
      description: Returns a single netgw
      operationId: show_netgw
      parameters:
      - description: ID of netgw
        explode: false
        in: path
        name: netgwId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/netgw'
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: Get
      tags:
      - netgw
    patch:
      description: Returns modified netgw
      operationId: update_netgw
      parameters:
      - description: ID of netgw
        explode: false
        in: path
        name: netgwId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/inline_object_15'
        content:
          application/json:
            schema:
              properties:
                name:
                  type: string
              type: object
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/netgw'
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: Update
      tags:
      - netgw
  /netgw/{netgwId}/actions/attach:
    post:
      description: Action attach
      operationId: action_netgw_attach
      parameters:
      - description: ID of netgw
        explode: false
        in: path
        name: netgwId
        required: true
        schema:
          type: string
        style: simple
      responses:
        202:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/netgw'
          description: operation queued
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /actions/attach
      tags:
      - netgw
  /netgw/{netgwId}/actions/detach:
    post:
      description: Action detach
      operationId: action_netgw_detach
      parameters:
      - description: ID of netgw
        explode: false
        in: path
        name: netgwId
        required: true
        schema:
          type: string
        style: simple
      responses:
        202:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/netgw'
          description: operation queued
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /actions/detach
      tags:
      - netgw
  /netgw/{netgwId}/accessrights/:
    get:
      operationId: operation_netgw_list_/accessrights/
      parameters:
      - description: ID of netgw
        explode: false
        in: path
        name: netgwId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/netgw.accessRights'
                type: array
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /accessrights/
      tags:
      - netgw
    post:
      operationId: operation_netgw_post_/accessrights/
      parameters:
      - description: ID of netgw
        explode: false
        in: path
        name: netgwId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/inline_object_16'
        content:
          application/json:
            schema:
              properties:
                identity:
                  type: string
              type: object
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/netgw.accessRights'
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /accessrights/
      tags:
      - netgw
  /netgw/{netgwId}/accessrights/{identity}:
    delete:
      operationId: operation_netgw_delete_/accessrights/:identity
      parameters:
      - description: ID of netgw
        explode: false
        in: path
        name: netgwId
        required: true
        schema:
          type: string
        style: simple
      - description: identity
        explode: false
        in: path
        name: identity
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/netgw'
          description: successful operation
        202:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/netgw'
          description: operation queued
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /accessrights/:identity
      tags:
      - netgw
  /netgw/{netgwId}/services/:
    get:
      operationId: operation_netgw_list_/services/
      parameters:
      - description: ID of netgw
        explode: false
        in: path
        name: netgwId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/netgw.services'
                type: array
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /services/
      tags:
      - netgw
  /netgw/{netgwId}/services/{serviceId}:
    get:
      operationId: operation_netgw_get_/services/:serviceId
      parameters:
      - description: ID of netgw
        explode: false
        in: path
        name: netgwId
        required: true
        schema:
          type: string
        style: simple
      - description: serviceId
        explode: false
        in: path
        name: serviceId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/netgw.services'
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /services/:serviceId
      tags:
      - netgw
  /netgw/{netgwId}/tag/:
    get:
      operationId: operation_netgw_get_/tag/
      parameters:
      - description: ID of netgw
        explode: false
        in: path
        name: netgwId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/netgw.tag'
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /tag/
      tags:
      - netgw
    patch:
      operationId: operation_netgw_patch_/tag/
      parameters:
      - description: ID of netgw
        explode: false
        in: path
        name: netgwId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              additionalProperties:
                type: string
              type: object
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/netgw.tag'
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /tag/
      tags:
      - netgw
  /netgw/{netgwId}/tag/{key}:
    delete:
      operationId: operation_netgw_delete_/tag/:key
      parameters:
      - description: ID of netgw
        explode: false
        in: path
        name: netgwId
        required: true
        schema:
          type: string
        style: simple
      - description: key
        explode: false
        in: path
        name: key
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/netgw.tag'
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /tag/:key
      tags:
      - netgw
  /netgw/{netgwId}/queue/:
    get:
      operationId: operation_netgw_list_/queue/
      parameters:
      - description: ID of netgw
        explode: false
        in: path
        name: netgwId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/event'
                type: array
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: /queue/
      tags:
      - netgw
  /image:
    get:
      description: List image
      operationId: list_image
      parameters:
      - description: Filter by name
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/image'
                type: array
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: List
      tags:
      - image
    post:
      description: Create image
      operationId: create_image
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/imageCreate'
        required: true
      responses:
        202:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/image'
          description: operation queued
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: Create
      tags:
      - image
  /image/{imageId}:
    delete:
      operationId: delete_image
      parameters:
      - description: ID of image
        explode: false
        in: path
        name: imageId
        required: true
        schema:
          type: string
        style: simple
      responses:
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: Delete
      tags:
      - image
    get:
      description: Returns a single image
      operationId: show_image
      parameters:
      - description: ID of image
        explode: false
        in: path
        name: imageId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/image'
          description: successful operation
        401:
          description: API key is missing or invalid
          headers:
            x-auth-token:
              description: authentication token
              explode: false
              schema:
                type: string
              style: simple
      summary: Get
      tags:
      - image
    patch:
      description: Returns modified image
      operationId: update_image
      parameters:
      - description: ID of image
        explode: false
        in: path
        name: imageId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/inline_object_17'
        content:
          application/json:
            schema:
              properties:
                name:
                  type: string
                description:
[...]
